{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.

  Usage:
  {% render 'product-variant-options',
  product: product,
  option: option,
  block: block
  %}
{% endcomment %}

{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  <span class="variation-options-wrapper">
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {% if option.name == 'Color' or option.name == 'Colour' %}
    {% for variant in product.variants %}
      {% if value == variant.metafields.custom.colour_swatch.value.colour_name %}
        {%- assign new_color_hex = variant.metafields.custom.colour_swatch.value.colour_hex -%}
      {% endif %}
    {% endfor %}
    <span
      class="hide badge-helper"
      {%- assign product_metaobjects = '' -%}
      {% assign badge = '' %}
      {%- for variant in product.variants -%}
      {%- for option in variant.options -%}
      {%- if option == value -%}
      {% assign currentDate1 = 'now' | date: '%s' | plus: 0 %}
      {% assign productDate1 = product.created_at | date: '%s' | plus: 0 %}
      {% assign oneWeekAgo1 = currentDate1 | minus: 604800 %}
      {% assign productStatus1 = variant.metafields.custom.product_status.value %}
      {% if productStatus1 %}
      {% assign badge1 = productStatus1 %}
      {% elsif variant.compare_at_price > variant.price %}
      {% assign badge1 = 'Sale' %}
      {% elsif productDate1 >= oneWeekAgo1 %}
      {% assign badge1 = 'New' %}
      {% endif %}
      {{ value | handle }}-{{ variant.option2 | handle }}="{{ badge1 }}"
      {%- if variant.option2 == product.selected_or_first_available_variant.option2 -%}
      {% assign currentDate = 'now' | date: '%s' | plus: 0 %}
      {% assign productDate = product.created_at | date: '%s' | plus: 0 %}
      {% assign dateOneWeek = currentDate | minus: 604800 %}
      {% assign productStatus = variant.metafields.custom.product_status.value %}
      {% if productStatus %}
      {% assign badge = productStatus %}
      {% elsif variant.compare_at_price > variant.price %}
      {% assign badge = 'Sale' %}
      {% elsif productDate >= dateOneWeek %}
      {% assign badge = 'New' %}
      {% endif %}
      {%- endif -%}
      {% if variant.metafields.custom.variation_color.value.color_value != blank %}
      {%- assign product_metaobjects = variant.metafields.custom.variation_color.value.color_value -%}
      {%- endif -%}
      {%- endif -%}
      {%- endfor -%}
      {%- endfor -%}></span>
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
      checked
      {% endif %}
      {% if option_disabled %}
      class="disabled"
      {% endif %}>
    <label
      onClick="selectVariation(this)"
      data-badge="{{ badge }}"
      for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      class="color-swatch"
      style="background-color: {{new_color_hex}}">
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
  {% endif %}


  {%- if option.name == 'Size' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
      checked
      {% endif %}
      {% if option_disabled %}
      class="disabled"
      {% endif %}>
    <label
      onClick="selectVariation(this)"
      class="variant-item"
      for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
    <span
      class="hide badge-helper"
      {% assign badge = '' %}
      {%- for variant in product.variants -%}
      {%- for option in variant.options -%}
      {%- if option == value -%}
      {% assign dateNow2 = 'now' | date: "%s" | plus: 0 %}
      {% assign productCreatedAt2 = product.created_at | date: "%s" | plus: 0 %}
      {% assign dateWeekAgo2 = dateNow2 | minus: 604800 %}
      {% assign productStatusValue2 = variant.metafields.custom.product_status.value %}
      {% if productStatusValue2 %}
      {% assign badge2 = productStatusValue2 %}
      {% elsif variant.compare_at_price > variant.price %}
      {% assign badge2 = 'Sale' %}
      {% elsif productCreatedAt2 >= dateWeekAgo2 %}
      {% assign badge2 = 'New' %}
      {% endif %}
      {{ variant.option1 | handle }}-{{ value | handle }}="{{ badge2 }}"
      {%- if variant.option1 == product.selected_or_first_available_variant.option1 -%}
      {% assign dateNow = 'now' | date: "%s" | plus: 0 %}
      {% assign productCreatedAt = product.created_at | date: "%s" | plus: 0 %}
      {% assign dateWeekAgo = dateNow | minus: 604800 %}
      {% assign productStatusValue = variant.metafields.custom.product_status.value %}
      {% if productStatusValue %}
      {% assign badge = productStatusValue %}
      {% elsif variant.compare_at_price > variant.price %}
      {% assign badge = 'Sale' %}
      {% elsif productCreatedAt >= dateWeekAgo %}
      {% assign badge = 'New' %}
      {% endif %}
      {%- endif -%}
      {%- endif -%}
      {%- endfor -%}
      {%- endfor -%}></span>
  {%- endif -%}


  <style>
    .color-swatch {
      padding: 0 !important;
      width: 30px;
      height: 30px;
    }
  </style>
  {%- if block.settings.picker_type == 'button' -%}
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
      selected="selected"
      {% endif %}>
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}