{% liquid 
   assign sectionID = 'shopify-section-' | append: section.id 
assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
%}
   
 <header id="{{ divID}}"class="navigation-bar">
        {% if section.settings.show_search != blank %}
            <div class="left-section">
                <form class="aa-Form" action="" novalidate="" role="search">
                    <div class="aa-InputWrapperPrefix"><label class="aa-Label" for="autocomplete-0-input"
                            id="autocomplete-0-label"><button class="aa-SubmitButton" type="submit" title="Submit"><svg
                                    class="aa-SubmitIcon" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                                    <path
                                        d="M16.041 15.856c-0.034 0.026-0.067 0.055-0.099 0.087s-0.060 0.064-0.087 0.099c-1.258 1.213-2.969 1.958-4.855 1.958-1.933 0-3.682-0.782-4.95-2.050s-2.050-3.017-2.050-4.95 0.782-3.682 2.050-4.95 3.017-2.050 4.95-2.050 3.682 0.782 4.95 2.050 2.050 3.017 2.050 4.95c0 1.886-0.745 3.597-1.959 4.856zM21.707 20.293l-3.675-3.675c1.231-1.54 1.968-3.493 1.968-5.618 0-2.485-1.008-4.736-2.636-6.364s-3.879-2.636-6.364-2.636-4.736 1.008-6.364 2.636-2.636 3.879-2.636 6.364 1.008 4.736 2.636 6.364 3.879 2.636 6.364 2.636c2.125 0 4.078-0.737 5.618-1.968l3.675 3.675c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z">
                                    </path>
                                </svg></button></label>
                        <div class="aa-LoadingIndicator" hidden=""><svg class="aa-LoadingIcon" viewBox="0 0 100 100"
                                width="20" height="20">
                                <circle cx="50" cy="50" fill="none" r="35" stroke="currentColor"
                                    stroke-dasharray="164.93361431346415 56.97787143782138" stroke-width="6">
                                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                        dur="1s" values="0 50 50;90 50 50;180 50 50;360 50 50" keyTimes="0;0.40;0.65;1">
                                    </animateTransform>
                                </circle>
                            </svg></div>
                    </div>
                    <div class="aa-InputWrapper"><input class="aa-Input" aria-autocomplete="both"
                            aria-labelledby="autocomplete-0-label" id="autocomplete-0-input" autocomplete="off"
                            autocorrect="off" autocapitalize="off" enterkeyhint="search" spellcheck="false"
                            placeholder="Search 9,000+ products" maxlength="512" type="search"></div>
                    <div class="aa-InputWrapperSuffix"><button class="aa-ClearButton" type="reset" title="Clear"
                            hidden=""><svg class="aa-ClearIcon" viewBox="0 0 24 24" width="18" height="18"
                                fill="currentColor">
                                <path
                                    d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z">
                                </path>
                            </svg></button></div>
                </form>
            </div>
        {% endif %}

        <div class="middle-section">
            <a href="#" class="logo-link">
                {% if section.settings.logo_image  != blank%}
                <figure class="logo-desktop"style="margin:0;">
                    {% render 'snippet-image'
                      , image: section.settings.logo_image
                      , loadingLazy: 'false'
                      , class: 'direct-logo-icon ' %}
                  </figure>
                {% endif %}
                
                {% if section.settings.custom_logo != blank %}
                    <style>
                        .logo-desktop {
                            display: none !important;
                        }
                        .custom-logo {
                            font-size: {{section.settings.logo_font_size}}px;
                            font-weight: {{section.settings.logo_font_weight}};
                            text-transform: {{section.settings.logo_text_transform}};
                            color: {{section.settings.logo_color}}
                        }
                        .custom-logo svg {
                            max-width: {{section.settings.custom_logo_width}}px;
                            {% if section.settings.custom_logo_width_fixed %}
                                width: {{section.settings.custom_logo_width_fixed}}px;
                            {% endif %}
                        }
                        @media all and (max-width: 991px) {
                            .custom-logo svg {
                                width:{{section.settings.custom_logo_width_mobile}}px;
                            }
                        }
                    </style>
                    <div class="custom-logo">
                    {{section.settings.custom_logo}}
                    </div>
                {% endif %}
                  <figure class="logo-mobile"style="margin:0;">
                    {% render 'snippet-image'
                      , image: section.settings.logo_image_mobile
                      , loadingLazy: 'false'
                      , class: 'direct-logo-icon ' %}
                  </figure>
            </a>
        </div>
        <div class="right-section">
            <div class="icon chat-icon">
                <figure style="margin:0;">
                    {% render 'snippet-image'
                      , image: section.settings.chat_image
                      , loadingLazy: 'false'
                      , class: 'direct-chat-icon ' %}
                  </figure>
                <span class="font-10 chat-now">
                    {% if section.settings.show_custom_text_list %}
                        {{section.settings.custom_text_list}}
                    {% endif %}
                </span>
            </div>
            {% if section.settings.show_customer != blank %}
            <div class="icon profile-icon">
                <figure style="margin:0;width:30px;">
                    {% render 'snippet-image'
                      , image: section.settings.account_image
                      , loadingLazy: 'false'
                      , class: 'direct-profile-icon ' %}
                  </figure>
            </div>
            {% endif %}
            {% if section.settings.show_cart != blank %}
            <div class="icon cart-icon">
                <figure style="margin:0;width:30px;">
                    {% render 'snippet-image'
                      , image: section.settings.cart_image
                      , loadingLazy: 'false'
                      , class: 'direct-cart-icon ' %}
                  </figure>
                <span class="cart-count">0</span>
            </div>
            {% endif %}
        </div>
    </header>
    {% if section.settings.mega_menu == true %}
        <nav id="megaMenu" data-scroll-hide="{{section.settings.hide_on_scroll}}" data-sticky="{{section.settings.sticky_header}}"class="mega-menu">
        {% if section.settings.logo_image_sticky != blank %}    
        <figure class="sticky-logo" style="justify-content:center;display:none;">
                {% render 'snippet-image'
                  , image: section.settings.logo_image_sticky
                  , loadingLazy: 'false'
                  , class: 'direct-logo-icon ' %}
              </figure>
        {% endif %}     
        <ul id="menu-list">
                {% for link in section.settings.menu.links %}
                    <li class="dropdown-item">
                        <a href="{{link.url}}">{{link.title}}</a>
                        {% if link.links.size > 0 %}
                            <ul class="mega-dropdown">
                                {% for child_link in link.links %}
                                    <ul class="dropdown-link-section">
                                        <a  href="{{ child_link.url }}" class="Heading"><span>{{ child_link.title}}</span></a>
                                        {% if child_link.links.size > 0 %}
                                            {% for grandchild_link in child_link.links %}
                                                <li class="dropdown-link-item"><a href="{{ grandchild_link.url }}"><span>{{ grandchild_link.title }}</span></a></li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                {% endfor %}  
                                {% assign link_title = link.title | downcase | handleize %}
                                {% if link_title == "chemicals" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.cmb_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.cmb_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.cmb_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.cmb_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.cmb_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.cmb_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.cmb_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.cmb_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}
                                {% if link_title == "pool-equipment" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.pem_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.pem_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.pem_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.pem_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.pem_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.pem_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.pem_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.pem_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}

                                {% if link_title == "spa-equipment" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.sem_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.sem_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.sem_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.sem_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.sem_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.sem_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.sem_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.sem_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}


                                {% if link_title == "above-ground-pools" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.agp_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.agp_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.agp_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.agp_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.agp_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.agp_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.agp_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.agp_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}

                                {% if link_title == "accessories" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.amb_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.amb_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.amb_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.amb_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.amb_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.amb_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.amb_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.amb_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}

                                {% if link_title == "spare-parts" %}
                                    <div class="image-part">
                                        <a class="image-wrapper" href="{{ section.settings.spm_image_banner_1_url }}"><figure>
                                            {% render 'snippet-image'
                                            , image: section.settings.spm_image_banner_1
                                            , loadingLazy: 'false'
                                            , class: 'megamenu-image' %}
                                        <p>{{ section.settings.spm_image_banner_1_text }}</p>
                                        <span class="shop-now">{{ section.settings.spm_image_banner_1_text_overlay }}</span>
                                    </a>
                                        <a class="image-wrapper" href="{{section.settings.spm_image_banner_2_url}}">
                                                {% render 'snippet-image'
                                                , image: section.settings.spm_image_banner_2
                                                , loadingLazy: 'false'
                                                , class: 'megamenu-image' %}
                                            <p>{{ section.settings.spm_image_banner_2_text }}</p>
                                            <span class="shop-now">{{ section.settings.spm_image_banner_2_text_overlay }}</span>
                                        </a>
                                    </div> 
                                {% endif %}
                            </ul>

                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    
    <script>
 document.addEventListener("DOMContentLoaded", function () {

        const hideOnScroll = document.getElementById("megaMenu").getAttribute('data-scroll-hide') === "true";
        const isSticky = document.getElementById("megaMenu").getAttribute('data-sticky') === "true";
        var megaMenu = document.getElementById('megaMenu');
        var navigationBar = document.querySelector('.navigation-bar');
        var lastScrollTop = 0;
        const dropdownItems = document.querySelectorAll(".dropdown-item");
       
        //This part shows mega dropdown
        dropdownItems.forEach((item) => {
            item.addEventListener("mouseover", function () {
                showDropdown(item);
            });

            item.addEventListener("mouseout", function () {
                hideDropdown(item);
            });
        });

        function showDropdown(item) {
            const currentDropdown = item.querySelector(".mega-dropdown");
            currentDropdown.style.display = "block";
            currentDropdown.dataset.active = "true"; 
        }

        function hideDropdown(item) {
            const currentDropdown = item.querySelector(".mega-dropdown");
            currentDropdown.style.display = "none";
            currentDropdown.dataset.active = "false"; 
        }
        //this part handles scroll animation and fixed menu
        window.addEventListener('scroll', function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > 50 && isSticky) {
            megaMenu.classList.add('fixed-menu');
            navigationBar.style.opacity = '0';

            // Check the scroll direction
            if (scrollTop > lastScrollTop) {
                // Scrolling down
                megaMenu.classList.add('hidden-menu');
            } else {
                // Scrolling up
                if(hideOnScroll) {
                    megaMenu.classList.remove('hidden-menu');
                }
            }

            lastScrollTop = scrollTop;
            } else {
            megaMenu.classList.remove('fixed-menu', 'hidden-menu');
            navigationBar.style.opacity = '1';
            }
        });
    });
           </script>

<style>
            .logo-desktop {
                display: block;
            }
            .logo-mobile {
                display: none;
            }
 
            .fixed-menu .sticky-logo {
                display:flex !important;
            }
       .mega-menu {
        width: 100%;
        z-index: 1000;
        background: {{section.settings.hb_background_color}};
        transition: top 0.5s;
        position: relative;
    }  

    .mega-menu.fixed-menu {
        position: fixed;
        top: 0;
        padding-top: 20px;
    }
    .mega-menu.hidden-menu {
        top: -300px ;
    }
#{{ sectionID }} .font-16 {
            font-size: 16px;
        }

  #{{ sectionID }} .font-10 {
            font-size: 10px;
        }
   #{{ sectionID }} .navigation-bar {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: space-between;
            padding: {{section.settings.nav_padding_top }}px {{section.settings.nav_padding_vertical }}px {{section.settings.nav_padding_bottom }}px;
            color: {{section.settings.text_color_1}};
            background:{{section.settings.background_color}};
        }

  #{{ sectionID }}  .left-section {
            flex: 1;
        }
#{{ sectionID }}  .left-section form {
            height: 100%;
            border: none;
            padding-left: 15px;
            border-radius: 35px;
            background: none;
            display: flex;
            line-height: 1em;
            margin: 0;
            position: relative;
            width: 100%;
            align-items: center;
            border-radius: 0;
            background: {{section.settings.search_bg_color}};
            border-radius: {{section.settings.search_border_radius}}px;
            border: 1px solid #808080;
            height: 70px;
        }
        .aa-SubmitIcon {
            fill: {{section.settings.search_color_icon}};
        }
     #{{ sectionID }} input {
            outline: 0;
        }

    #{{ sectionID }}  .aa-Label,
   #{{ sectionID }} .aa-LoadingIndicator {
            cursor: initial;
            flex-shrink: 0;
            height: 100%;
            padding: 0;
            text-align: left;
        }

     #{{ sectionID }} button.aa-SubmitButton {
            pointer-events: none;
            cursor: pointer;
            background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>0DBD8774-40E1-4FD9-93CF-8A9C81547816</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"> <g id="Direct-Pool-Supplies---Homepage-v8" transform="translate(-506.000000, -116.000000)" stroke="%23000000" stroke-width="1.42966154"> <g id="Group-6" transform="translate(50.000000, 93.000000)"> <g id="Search-Icon" transform="translate(456.000000, 23.000000)"> <path d="M2.67524624,11.2644928 C2.67524624,16.0082111 6.5210991,19.8539206 11.2649942,19.8539206 C16.0088893,19.8539206 19.85441,16.0085432 19.85441,11.2648249 C19.85441,8.19617717 18.2171309,5.36059809 15.5594753,3.82622285 C12.9018198,2.29184761 9.62748961,2.29178432 6.96989336,3.82605681 C4.31229711,5.3603293 2.67524624,8.19584508 2.67524624,11.2644928 Z" id="Path" transform="translate(11.264828, 11.264659) rotate(-23.025000) translate(-11.264828, -11.264659) "></path> <line x1="17.3381146" y1="17.3375246" x2="24" y2="24" id="Path"></line> </g> </g> </g> </g></svg>');
            background-repeat: no-repeat;
            background-position: center;
            appearance: none;
            background: none;
            border: 0;
            margin: 0;
            height: 100%;
        }

     #{{ sectionID }}  .aa-InputWrapperPrefix {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 44px;
            order: 1;
        }
  #{{ sectionID }}  form:focus-within {
    border-color: #000;
    box-shadow: #000, 0.2 0 0 0 2px
  , inset #000, 0.2 0 0 0 2px;
    outline: currentColor none medium;
}
     #{{ sectionID }}  .aa-InputWrapper {
            order: 3;
            position: relative;
            width: 100%;
        }

      #{{ sectionID }}  input#autocomplete-0-input,
      #{{ sectionID }}  input#autocomplete-0-input::placeholder {
            color: {{section.settings.search_text_color}};
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 19px;
            padding-left: 15px;
            appearance: none;
            background: none;
            border: 0;
            font: inherit;
            height: 44px;
            padding: 0;
            width: 100%;
            box-shadow: none;
        }

     #{{ sectionID }} .middle-section {
            flex: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }



      #{{ sectionID }} .right-section {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

     #{{ sectionID }} .icon {
            margin-left: 20px;
            display: flex;
            align-items: center;
        }

    #{{ sectionID }} .icon img {
            height: auto;
            width: auto;
            aspect-ratio: auto 34/35;
            margin-right: 5px;
        }

     #{{ sectionID }} .chat-icon span {

            color: rgb(65, 65, 65);
        }

     #{{ sectionID }} .cart-count {
            background-color: {{section.settings.cart_bg_color_items}};
            color: {{section.settings.cart_color_items}};
            padding: 3px 6px;
            border-radius: 50%;
            font-size: {{section.settings.cart_font_size}}px;
            position: relative;
            right: 15px;
            bottom: 10px;
            line-height: initial;
        }

    #{{ sectionID }} .d-flex {
            display: flex;
        }

     #{{ sectionID }}   a {
            padding: 0;
        }

     #{{ sectionID }} .mega-menu {
            font-family: 'Montserrat', sans-serif;
        }

   #{{ sectionID }} #menu-list {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            background {{section.settings.mega_menu_bg_color}};
        }

    #{{ sectionID }} ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    #{{ sectionID }} .dropdown-item {
            display: inline-block;
            vertical-align: top;
            position: relative;
            text-align: left;
        }

    #{{ sectionID }} .dropdown-item>a {
            text-transform: uppercase;
            color: {{section.settings.lvl1_color}};
            font-family: Montserrat;
            font-size: {{section.settings.hb_font_size}}px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 17px;
            padding-top: 0;
            display: block;
            position: relative;
        }

      #{{ sectionID }} .dropdown-item a:hover {
            text-decoration: underline;
            color: {{section.settings.lvl1_color}};
        }

   #{{ sectionID }} a {
            display: block;
            color: black;
            text-decoration: none;
        }
        .mega-menu {
        width: 100%;
        transition: top 0.3s;
        z-index: 1000;
        background-color: white;
    }

#{{ sectionID }} .mega-dropdown {
            position: fixed;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            padding: 20px 44px;
            column-count: 4;
            min-width: auto;
            left: 0;
            right: 0;
            padding-right: calc(25% + 40px);
            column-count: 3;
            min-height: 642px;
            display: none;
            background-color: white;
            box-shadow: 0 1px 4px #00000026;
            box-sizing: border-box;
            z-index: 99999;
        }
      #{{ sectionID }} .link-part,
      #{{ sectionID }} .image-part {
            float: left;
        }

       #{{ sectionID }} .link-part {
            width: 80%;
        }

       #{{ sectionID }} .link-part ul {
            padding: 20px;
        }

       #{{ sectionID }} .link-part ul li {
            margin-bottom: 10px;
        }

      #{{ sectionID }}  .dropdown-link-section {
            width: 100%;
            padding: 0 20px 0 0;
            display: inline-block;
            vertical-align: top;
            position: relative;
            text-align: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }

      #{{ sectionID }} .dropdown-link-section a {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            padding: 8px 0;
        }
        #{{ sectionID }} .dropdown-link-section * {
            color: {{section.settings.lvl2_color}};
        }
        #{{ sectionID }} .dropdown-link-section *:hover {
            color: {{section.settings.lvl2_color_hover}};
        }
       #{{ sectionID }} .image-part {
            position: absolute;
            max-width: 25%;
            width: 25%;
            right: 44px;
            top: 15px;
            break-inside: avoid-column;
        }

      #{{ sectionID }}  .image-part .image-wrapper {
            color: #222222;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 27px;
            text-align: center;
            position: relative;
        }

     #{{ sectionID }} .image-wrapper img {
            width: 100%;
            aspect-ratio: 9/6;
            object-fit: cover;
            height: unset;
        }

     #{{ sectionID }} .image-wrapper p {
            margin: -20px 20px 20px;
            background: #fff;
            z-index: 1;
            position: relative;
            padding: 15px;
            box-shadow: 0 3px 7px #0e1f351f;
        }

     #{{ sectionID }} .image-wrapper span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255 255 255 / 50%);
            opacity: 0;
            transition: ease all 0.3s;
            text-transform: uppercase;
        }
        .image-wrapper:hover span {
            opacity: 1 !important;
        }

     #{{ sectionID }} .dropdown-link-section li {
            position: initial;
            display: flex;
            margin: 0;
            opacity: 1;
            visibility: visible;
            flex-direction: column;
            transform: none;
            animation: none;
            padding: 0;
            box-shadow: none !important;
        }

       #{{ sectionID }} .dropdown-link-item {
            width: 100%;
            padding: 0 20px 0 0;
            display: inline-block;
            vertical-align: top;
            position: relative;
        }

      #{{ sectionID }}  .dropdown-link-item a {
            font-weight: 300;
            padding: 0;
            line-height: 31px;
        }
         #{{ sectionID }} .chat-now {
           text-align: left;
         }
         .direct-profile-icon,.direct-cart-icon, .direct-chat-icon {
            width: 30px !important;
            position: relative;
            right: 5px;
         }
         @media all and (max-width: 991px) {
            .logo-desktop{
                display: none;
            }
            .logo-mobile {
                display: block;
            }
            
         }
         @media all and (max-width: 768px) {
            .mega-menu {
                display: none;
            }
         }
</style>
 {% schema %}
  {
    "name": "Custom Header ",
    "settings": [
        {
            "type": "header",
            "content":"General"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "nav_padding_top",
        "label": "Padding Top"
      },
      {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "nav_padding_bottom",
        "label": "Padding Bottom"
      },
      {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "nav_padding_vertical",
        "label": "Padding Vertical"
      },
      {
        "type": "checkbox",
        "id": "mega_menu",
        "label": "Show Mega Menu?"
      },
      {
        "type": "checkbox",
        "id": "sticky_header",
        "label": "Enable Sticky Header",
        "info": "(Header shows on the screen as customers scroll up.)"
      },
      {
        "type": "checkbox",
        "id": "hide_on_scroll",
        "label": "Hide Sticky Header on Scroll",
        "info": "(Enable/disable hide sticky header on Scroll Down?)"
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show Search"
      },
      {
        "type": "checkbox",
        "id": "show_cart",
        "label": "Show Cart"
      },
      {
        "type": "image_picker",
        "id": "cart_image",
        "label": "Cart Image"
      },
      {
        "type": "image_picker",
        "id": "account_image",
        "label": "Account Image"
      },
      {
        "type": "checkbox",
        "id": "show_customer",
        "label": "Show Customer"
      },
      {
        "type": "header",
        "content":"Header Top"
      },
      {
        "type": "checkbox",
        "id": "show_custom_text_list",
        "label": "Show Custom Text List"
      },
      {
        "type": "textarea",
        "id": "custom_text_list",
        "label": "Custom Text List"
      },
      {
        "type": "image_picker",
        "id": "chat_image",
        "label": "Chat Image"
      },
      {
        "type": "color",
        "id": "text_color_1",
        "label": "Text / Icon Color 1"
      },
      {
        "type": "color",
        "id": "text_color_2",
        "label": "Text / Icon Color 2"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "header",
        "content":"Search"
      },
      {
        "type": "color",
        "id": "search_bg_color",
        "label": "Search Background Color"
      },
      {
        "type": "color",
        "id": "search_text_color",
        "label": "Search Text Color"
      },
      {
        "type": "color",
        "id": "search_color_icon",
        "label": "Search Color Icon"
      },
      {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "search_border_radius",
        "label": "Border Radius"
      },
      {
        "type": "header",
        "content":"Cart"
      },
      {
        "type": "color",
        "id": "cart_bg_color_items",
        "label": "Cart Background Color Items"
      },
      {
        "type": "color",
        "id": "cart_color_items",
        "label": "Cart Color Items"
      },
      {
        "type": "range",
        "min": 5,
        "max": 30,
        "default": 16,
        "unit": "px",
        "step": 1,
        "id": "cart_font_size",
        "label": "Cart Font Size Item"
      },
      {
        "type": "header",
        "content":"Header Bottom"
      },
      {
        "type": "color",
        "id": "hb_background_color",
        "label": "Header Bottom Background Color"
      },
      {
        "type": "range",
        "min": 5,
        "max": 30,
        "default": 16,
        "unit": "px",
        "step": 1,
        "id": "hb_font_size",
        "label": "Header Bottom Text Font Size "
      },
      {
        "type": "header",
        "content":"Header Mobile"
      },
      {
        "type": "color",
        "id": "hm_background_color",
        "label": "Header Bottom Background Color"
      },
      {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 30,
        "unit": "px",
        "step": 5,
        "id": "hm_spacing_icon",
        "label": "Header Mobile Icon Spacing "
      },
      {
        "type": "header",
        "content":"Logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
      },
      {
        "type": "image_picker",
        "id": "logo_image_mobile",
        "label": "Logo Image Mobile"
      },
      {
        "type": "image_picker",
        "id": "logo_image_sticky",
        "label": "Logo Image For Sticky Header"
      },
      {
        "type": "textarea",
        "id":"custom_logo",
        "label": "Logo Text / SVG Icon"
      },
      {
        "type": "range",
        "min": 50,
        "max": 500,
        "default": 100,
        "unit": "px",
        "step": 10,
        "id": "custom_logo_width",
        "label": "Custom Logo Width "
      },
      {
        "type": "range",
        "min": 50,
        "max": 500,
        "default": 100,
        "unit": "px",
        "step": 10,
        "id": "custom_logo_width_mobile",
        "label": "Custom Logo Width Mobile"
      },
      {
        "type": "range",
        "min": 50,
        "max": 500,
        "default": 100,
        "unit": "px",
        "step": 10,
        "id": "custom_logo_width_fixed",
        "label": "Custom Logo Width Fixed "
      },
      {
        "type": "range",
        "min": 5,
        "max": 30,
        "default": 16,
        "unit": "px",
        "step": 1,
        "id": "logo_font_size",
        "label": "Custom Logo Font Size "
      },
      {
            "type": "select",
            "id": "logo_font_weight",
            "label":"Font Weight",
            "options": [
                {
                    "value":"400",
                    "label": "Regular"
                },
                {
                    "value":"700",
                    "label": "Bold"
                },
                {
                    "value":"900",
                    "label": "Black"
                }
               
            ]
        },
        {
            "type": "select",
            "id": "logo_text_transform",
            "label":"Text Transform",
            "options": [
                {
                    "label":"capitalize",
                    "value": "Capitalize"
                },
                {
                    "label":"uppercase",
                    "value": "Uppercase"
                },
                {
                    "label":"lowercase",
                    "value": "Lowercase"
                }
               
            ]
        },
        {
            "type": "color",
            "id": "logo_color",
            "label": "Text Color"
        },
        {
        "type": "header",
        "content":"Menu Link List (Level 1)"
        },
        {
            "type": "paragraph",
            "content":"Color Menu Desktop"
        },
        {
            "type": "color",
            "id": "lvl1_color",
            "label": "Link Color"
        },
        {
            "type": "color",
            "id": "lvl1_color_hover",
            "label": "Link Color Hover"
        },
        {
            "type": "paragraph",
            "content":"Color Menu Mobile"
        },
        {
            "type": "color",
            "id": "lvl1_color_mobile",
            "label": "Link Color Mobile"
        },
        {
        "type": "header",
        "content":"Menu Link List (Level 2)"
        },
        {
            "type": "paragraph",
            "content":"Color Menu Desktop"
        },

        {
            "type": "color",
            "id": "lvl2_color",
            "label": "Link Color"
        },
        {
            "type": "color",
            "id": "lvl2_color_hover",
            "label": "Link Color Hover"
        },
        {
            "type": "paragraph",
            "content":"Color Menu Mobile"
        },
        {
            "type": "color",
            "id": "lvl2_color_mobile",
            "label": "Link Color Mobile"
        },
        {
            "type": "header",
            "content":"Mega Menu"
        },
        {
            "type": "color",
            "id":"mega_menu_bg_color",
            "label": "Mega Menu Background Color",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content":"Chemicals Menu Banners"
        },
        {
            "type": "paragraph",
            "content":"Chemicals Menu Banner 1"
        },
        {
            "type": "image_picker",
            "id": "cmb_image_banner_1",
            "label":"Chemicals Menu Banner 1"
        },
        {
            "type":"url",
            "id": "cmb_image_banner_1_url",
            "label": "Chemicals Menu Banner 1 Link"
        },
        {
            "type": "textarea",
            "label": "Chemicals Menu Banner 1 Text",
            "id":"cmb_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Chemicals Menu Banner 1 Text Overlay",
            "id":"cmb_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Chemicals Menu Banner 2"
        },
        {
            "type": "image_picker",
            "id": "cmb_image_banner_2",
            "label":"Chemicals Menu Banner 2"
        },
        {
            "type":"url",
            "id": "cmb_image_banner_2_url",
            "label": "Chemicals Menu Banner 2 Link"
        },
        {
            "type": "textarea",
            "label": "Chemicals Menu Banner 2 Text",
            "id":"cmb_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Chemicals Menu Banner 2 Text Overlay",
            "id":"cmb_image_banner_2_text_overlay"
        },

        {
            "type": "header",
            "content":"Pool Equipment Menu Banners"
        },
        {
            "type": "paragraph",
            "content":"Pool Equipment Menu Banners 1"
        },
        {
            "type": "image_picker",
            "id": "pem_image_banner_1",
            "label":"Pool Equipment Menu Banners 1"
        },
        {
            "type":"url",
            "id": "pem_image_banner_1_url",
            "label": "Pool Equipment Menu Banners 1 Link"
        },
        {
            "type": "textarea",
            "label": "Pool Equipment Menu Banners 1 Text",
            "id":"pem_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Pool Equipment Menu Banners 1 Text Overlay",
            "id":"pem_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Pool Equipment Menu Banners 2"
        },
        {
            "type": "image_picker",
            "id": "pem_image_banner_2",
            "label":"Pool Equipment Menu Banners 2"
        },
        {
            "type":"url",
            "id": "pem_image_banner_2_url",
            "label": "Pool Equipment Menu Banners 2 Link"
        },
        {
            "type": "textarea",
            "label": "Pool Equipment Menu Banners 2 Text",
            "id":"pem_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Pool Equipment Menu Banners 2 Text Overlay",
            "id":"pem_image_banner_2_text_overlay"
        },

        {
            "type": "header",
            "content":"Spa Equipment Menu Banners"
        },
        {
            "type": "paragraph",
            "content":"Spa Equipment Menu Banners 1"
        },
        {
            "type": "image_picker",
            "id": "sem_image_banner_1",
            "label":"Spa Equipment Menu Banners 1"
        },
        {
            "type":"url",
            "id": "sem_image_banner_1_url",
            "label": "Spa Equipment Menu Banners 1 Link"
        },
        {
            "type": "textarea",
            "label": "Spa Equipment Menu Banners 1 Text",
            "id":"sem_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Spa Equipment Menu Banners 1 Text Overlay",
            "id":"sem_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Spa Equipment Menu Banners 2"
        },
        {
            "type": "image_picker",
            "id": "sem_image_banner_2",
            "label":"Spa Equipment Menu Banners 2"
        },
        {
            "type":"url",
            "id": "sem_image_banner_2_url",
            "label": "Spa Equipment Menu Banners 2 Link"
        },
        {
            "type": "textarea",
            "label": "Spa Equipment Menu Banners 2 Text",
            "id":"sem_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Spa Equipment Menu Banners 2 Text Overlay",
            "id":"sem_image_banner_2_text_overlay"
        },



        {
            "type": "header",
            "content":"Above Ground Pools"
        },
        {
            "type": "paragraph",
            "content":"Above Ground Pools 1"
        },
        {
            "type": "image_picker",
            "id": "agp_image_banner_1",
            "label":"Above Ground Pools 1"
        },
        {
            "type":"url",
            "id": "agp_image_banner_1_url",
            "label": "Above Ground Pools 1 Link"
        },
        {
            "type": "textarea",
            "label": "Above Ground Pools 1 Text",
            "id":"agp_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Above Ground Pools 1 Text Overlay",
            "id":"agp_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Above Ground Pools 2"
        },
        {
            "type": "image_picker",
            "id": "agp_image_banner_2",
            "label":"Above Ground Pools 2"
        },
        {
            "type":"url",
            "id": "agp_image_banner_2_url",
            "label": "Above Ground Pools 2 Link"
        },
        {
            "type": "textarea",
            "label": "Above Ground Pools 2 Text",
            "id":"agp_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Above Ground Pools 2 Text Overlay",
            "id":"agp_image_banner_2_text_overlay"
        },



        {
            "type": "header",
            "content":"Accessories Menu Banners"
        },
        {
            "type": "paragraph",
            "content":"Accessories Menu Banners 1"
        },
        {
            "type": "image_picker",
            "id": "amb_image_banner_1",
            "label":"Accessories Menu Banners 1"
        },
        {
            "type":"url",
            "id": "amb_image_banner_1_url",
            "label": "Accessories Menu Banners 1 Link"
        },
        {
            "type": "textarea",
            "label": "Accessories Menu Banners 1 Text",
            "id":"amb_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Accessories Menu Banners 1 Text Overlay",
            "id":"amb_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Accessories Menu Banners 2"
        },
        {
            "type": "image_picker",
            "id": "amb_image_banner_2",
            "label":"Accessories Menu Banners 2"
        },
        {
            "type":"url",
            "id": "amb_image_banner_2_url",
            "label": "Accessories Menu Banners 2 Link"
        },
        {
            "type": "textarea",
            "label": "Accessories Menu Banners 2 Text",
            "id":"amb_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Accessories Menu Banners 2 Text Overlay",
            "id":"amb_image_banner_2_text_overlay"
        },


        


        {
            "type": "header",
            "content":"Spare Parts Menu Banners"
        },
        {
            "type": "paragraph",
            "content":"Spare Parts Menu Banners 1"
        },
        {
            "type": "image_picker",
            "id": "spm_image_banner_1",
            "label":"Spare Parts Menu Banners 1"
        },
        {
            "type":"url",
            "id": "spm_image_banner_1_url",
            "label": "Spare Parts Menu Banners 1 Link"
        },
        {
            "type": "textarea",
            "label": "Spare Parts Menu Banners 1 Text",
            "id":"spm_image_banner_1_text"
        },
        {
            "type": "text",
            "label": "Spare Parts Menu Banners 1 Text Overlay",
            "id":"spm_image_banner_1_text_overlay"
        },

        {
            "type": "paragraph",
            "content":"Spare Parts Menu Banners 2"
        },
        {
            "type": "image_picker",
            "id": "spm_image_banner_2",
            "label":"Spare Parts Menu Banners 2"
        },
        {
            "type":"url",
            "id": "spm_image_banner_2_url",
            "label": "Spare Parts Menu Banners 2 Link"
        },
        {
            "type": "textarea",
            "label": "Spare Parts Menu Banners 2 Text",
            "id":"spm_image_banner_2_text"
        },
        {
            "type": "text",
            "label": "Spare Parts Menu Banners 2 Text Overlay",
            "id":"spm_image_banner_2_text_overlay"
        }
    ],
    "presets": [
      {
        "name": "Custom Header"
      }
    ]
  }

  {% endschema %}