{{ 'base-test.css' | asset_url | stylesheet_tag }}

{% liquid
  assign directIntro = section.settings.direct_Intro
  assign directTitle = section.settings.direct_Title
  assign directText = section.settings.direct_Text
  assign directImage = section.settings.direct_Image
  assign directImageSecond = section.settings.direct_Image_Second
  assign directButton1Text = section.settings.direct_hero_btn1_text
  assign directButton1Url = section.settings.direct_hero_btn1_url
  assign directButton2Text = section.settings.direct_hero_btn2_text
  assign directButton2Url = section.settings.direct_hero_btn2_url
%}

<section class="direct-text-img-content_wrapper">
  <div class="direct-text-img-image-container">
    <figure>
      {% render 'snippet-image'
        , image: directImage
        , loadingLazy: 'false'
        , class: 'direct-text-img-image' %}
    </figure>
  </div>
  <div class="direct-text-img-text">
    <div class="text-button-wrapper">
      {% if directIntro != 'blank' %}
        <p class="table-subheading heroIntro text-center c-title text-white">
          {{ directIntro }}
        </p>
      {% endif %}

      {% if directTitle != 'blank' %}
        <p class="table-heading heroTitle text-center c-title text-white">
          {{ directTitle }}
        </p>
      {% endif %}

      {% if directText != 'blank' %}
        <p class="table-subheading heroText text-center c-title text-white">
          {{ directText }}
        </p>
      {% endif %}
      <div class="container">

        <a href="{{ directButton1Url }}" class="cti button button-primary">{{ directButton1Text }}</a>

        <a href="{{ directButton2Url }}" class="cti button button-secondary">{{ directButton2Text }}</a>
      </div>
    </div>
  </div>
</section>

<style>
  .direct-text-img-content_wrapper {
    display: flex;
    height: 570px;
  }
  .direct-text-img-content_wrapper > div {
    width: 100%;
  }
  .direct-text-img-text {
    padding: 70px;
    background-color: #00126a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .direct-text-img-image-container figure {
    margin: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  .direct-text-img-image-container figure > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 1s;
  }
  .direct-text-img-image-container figure > img:hover {
    transform: scale(1.1);
  }
  .heroIntro {
    font-size: 18px;
    font-family: 'Montserrat'
    , sans-serif !important;
    text-transform: uppercase;
    letter-spacing: -1;
  }
  .heroTitle {
    font-family: 'Montserrat'
    , sans-serif !important;
    font-size: 48px !important;
    font-weight: 600;
    line-height: 50px !important;
    text-transform: uppercase;
  }
  .heroText {
    font-size: 17px;
    font-weight: 300 !important;
    font-family: 'Montserrat'
    , sans-serif;
    font-weight: 400;
    width: 76%;
    margin: 0 auto 30px;
  }
  .text-button-wrapper {
    max-width: 667px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cti.button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 5px;
    font-family: 'Montserrat'
    , sans-serif;
  }
  .cti.button-primary {
    background-color: white;
    border: 1px solid white;
    color: #000;
    min-width: 190px;
    transition: all 1s;
  }

  .cti.button-primary:hover {
    color: white;
    background-color: #232323;
    border: 1px solid #232323;
  }
  .cti.button-secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
    min-width: 200px;
  }

  .button,
  .button::before,
  .button::after,
  .button:hover,
  .button:hover:after {
    box-shadow: none !important;
  }
  .container {
    display: flex;
  }
  @media all and (max-width: 991px) {
    .direct-text-img-content_wrapper {
      max-height: 100%;
    }
    .direct-text-img-image-container {
      display: none;
    }
    .heroTitle {
      font-size: 32px;
    }
  }
  @media all and (max-width: 768px) {
    .container {
      display: inline-block;
    }
    .direct-text-img-text {
      padding: 20px 0;
    }
    .button-primary {
      margin: 10px;
    }
    .heroTitle {
      font-size: 28px;
    }
  }
</style>

{% schema %}
  {
    "name": "Direct Text and Image",
    "settings": [
      {
        "type": "text",
        "id": "direct_Intro",
        "label": "Text Intro"
      },
      {
        "type": "text",
        "id": "direct_Title",
        "label": "Text Title"
      },
      {
        "type": "textarea",
        "id": "direct_Text",
        "label": "Section Text"
      },
      {
        "type": "image_picker",
        "id": "direct_Image",
        "label": "Section Image Left"
      }, {
        "type": "text",
        "id": "direct_hero_btn1_text",
        "label": "Text Button 1 Text"
      }, {
        "type": "url",
        "id": "direct_hero_btn1_url",
        "label": "Text Button 1 URL"
      }, {
        "type": "text",
        "id": "direct_hero_btn2_text",
        "label": "Text Button 2 Text"
      }, {
        "type": "url",
        "id": "direct_hero_btn2_url",
        "label": "Text Button 2 URL"
      }

    ],
    "presets": [
      {
        "name": "Direct Text and Image"
      }
    ]
  }
{% endschema %}