{{ 'base-test.css' | asset_url | stylesheet_tag }}
{% liquid
  assign sectionID = 'shopify-section-' | append: section.id
  assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
  assign customClass = section.settings.direct_custom_class
  assign container_width = section.settings.container_width
  assign container_bg_color = section.settings.container_background_color
  assign container_bg_gradient = section.settings.container_background_gradient
  assign container_bg_image = section.settings.container_background_image | img_url: 'master'
  assign container_padding_top_desktop = section.settings.container_padding_top_desktop
  assign container_padding_top_tablet = section.settings.container_padding_top_tablet
  assign container_padding_top_mobile = section.settings.container_padding_top_mobile
  assign placeholder = '//aleksandar-colovic.myshopify.com/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
  assign placeholderV2 = '//cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
  assign container_padding_bottom_desktop = section.settings.container_padding_bottom_desktop
  assign container_padding_bottom_tablet = section.settings.container_padding_bottom_tablet
  assign container_padding_bottom_mobile = section.settings.container_padding_bottom_mobile
%}
<section id="{{ divID}}" class="{% if customClass != blank %} {{customClass}}  {% endif %}"></section>
<style>
  #{{ sectionID }}
{
  display: flex;
  height: 100%;
  width: {{ container_width }};
  {% if container_bg_color != blank and container_bg_gradient == blank and container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
    background: {{ container_bg_color }};
  {% endif %}
  {% if container_bg_gradient != blank and  container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
    background: {{ container_bg_gradient }};
  {% endif %}
  {% if container_bg_image != placeholder and  container_bg_image != placeholderV2 %}
    {% if container_bg_image != blank %}
      background: url('{{container_bg_image}}');
    {% endif %}
  {% endif %}
  {% if container_padding_top_desktop != blank %}
    padding-top: {{ container_padding_top_desktop }}px;
  {% endif %}
  {% if container_padding_bottom_desktop != blank %}
    padding-bottom: {{ container_padding_bottom_desktop }}px;
  {% endif %}

}

@media all and (max-width: 992px) {
    #{{ sectionID }} {
    {% if container_padding_top_tablet != blank %}
        padding-top: {{container_padding_top_tablet}}px;
    {% endif %}
    {% if container_padding_bottom_tablet != blank %}
        padding-bottom: {{container_padding_bottom_tablet}}px;
    {% endif %}
    }
  }

  @media all and (max-width: 768px) {    
        #{{ sectionID }} {
        {% if container_padding_top_mobile != blank %}
            padding-top: {{container_padding_top_mobile}}px;
        {% endif %}
        {% if container_padding_bottom_mobile != blank %}
            padding-bottom: {{container_padding_bottom_mobile}}px;
        {% endif %}
    }
  }
</style>
{% schema %}
  {
    "name": "Direct  Hero - New",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "direct_custom_class",
        "label": "Custom Class"
      },
      {
        "type": "select",
        "id": "container_width",
        "label": "Layout:",
        "default": "100%",
        "options": [
          {
            "value": "1170px",
            "label": "Width(1170px)"
          }, {
            "value": "1770px",
            "label": "Width(1770px)"
          }, {
            "value": "100%",
            "label": "Full Width"
          }
        ]
      },
      {
        "type": "color",
        "id": "container_background_color",
        "label": "Background Color"
      },
      {
        "type": "color_background",
        "id": "container_background_gradient",
        "label": "Background Gradient"
      }, {
        "type": "image_picker",
        "id": "container_background_image",
        "label": "Background Image"
      }, {
        "type": "header",
        "content": "Spacing Top"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_desktop",
        "label": "Desktop"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_tablet",
        "label": "Tablet"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_mobile",
        "label": "Mobile"
      }, {
        "type": "header",
        "content": "Spacing Bottom"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_desktop",
        "label": "Desktop"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_tablet",
        "label": "Tablet"
      }, {
        "type": "range",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_mobile",
        "label": "Mobile"
      }, {
        "type": "checkbox",
        "id": "zoom_background",
        "label": "Zoom Background Image On Hover",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Direct Hero - New"
      }
    ],
    "blocks": [
      {
        "name": "Large Image",
        "type": "image",
        "settings": []
      }
    ]
  }

{% endschema %}