{% liquid 
   assign sectionID = 'shopify-section-' | append: section.id 
assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
%}
   
 <header id="{{ divID}}"class="navigation-bar">
        <div class="left-section">
            <form class="aa-Form" action="" novalidate="" role="search">
                <div class="aa-InputWrapperPrefix"><label class="aa-Label" for="autocomplete-0-input"
                        id="autocomplete-0-label"><button class="aa-SubmitButton" type="submit" title="Submit"><svg
                                class="aa-SubmitIcon" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                                <path
                                    d="M16.041 15.856c-0.034 0.026-0.067 0.055-0.099 0.087s-0.060 0.064-0.087 0.099c-1.258 1.213-2.969 1.958-4.855 1.958-1.933 0-3.682-0.782-4.95-2.050s-2.050-3.017-2.050-4.95 0.782-3.682 2.050-4.95 3.017-2.050 4.95-2.050 3.682 0.782 4.95 2.050 2.050 3.017 2.050 4.95c0 1.886-0.745 3.597-1.959 4.856zM21.707 20.293l-3.675-3.675c1.231-1.54 1.968-3.493 1.968-5.618 0-2.485-1.008-4.736-2.636-6.364s-3.879-2.636-6.364-2.636-4.736 1.008-6.364 2.636-2.636 3.879-2.636 6.364 1.008 4.736 2.636 6.364 3.879 2.636 6.364 2.636c2.125 0 4.078-0.737 5.618-1.968l3.675 3.675c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z">
                                </path>
                            </svg></button></label>
                    <div class="aa-LoadingIndicator" hidden=""><svg class="aa-LoadingIcon" viewBox="0 0 100 100"
                            width="20" height="20">
                            <circle cx="50" cy="50" fill="none" r="35" stroke="currentColor"
                                stroke-dasharray="164.93361431346415 56.97787143782138" stroke-width="6">
                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                    dur="1s" values="0 50 50;90 50 50;180 50 50;360 50 50" keyTimes="0;0.40;0.65;1">
                                </animateTransform>
                            </circle>
                        </svg></div>
                </div>
                <div class="aa-InputWrapper"><input class="aa-Input" aria-autocomplete="both"
                        aria-labelledby="autocomplete-0-label" id="autocomplete-0-input" autocomplete="off"
                        autocorrect="off" autocapitalize="off" enterkeyhint="search" spellcheck="false"
                        placeholder="Search 9,000+ products" maxlength="512" type="search"></div>
                <div class="aa-InputWrapperSuffix"><button class="aa-ClearButton" type="reset" title="Clear"
                        hidden=""><svg class="aa-ClearIcon" viewBox="0 0 24 24" width="18" height="18"
                            fill="currentColor">
                            <path
                                d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z">
                            </path>
                        </svg></button></div>
            </form>
        </div>
        <div class="middle-section">
            <a href="#" class="logo-link">
                <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/DirectPoolSuppliesLogoSanta_300x.png?v=1701830550"
                    alt="">
            </a>
        </div>
        <div class="right-section">
            <div class="icon chat-icon">
                <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Chat_Now_Icon_5216e266-6893-49b4-9516-fa584d7cd62b_20x.svg?v=1690179419"
                    alt="Chat Now">
                <span class="font-10 chat-now"><b class="font-16">Chat Now</b> <br>Online 24/7</span>
            </div>
            <div class="icon profile-icon">
                <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Account_Icon_60c3f345-2fc9-46a4-8d1f-177f53971b5f_20x.svg?v=1690179430"
                    alt="Profile">
            </div>
            <div class="icon cart-icon">
                <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Cart_Icon_f19bda64-c68c-41d5-9dc7-bf0be2142b66_20x.svg?v=1690179419"
                    alt="Cart">
                <span class="cart-count">0</span>
            </div>
        </div>
    </header>

    <nav class="mega-menu">
        <ul id="menu-list">
            <li class="dropdown-item">
                <a href="#">Chemicals</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Pool_algaecides.jpg?v=1690179421"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Iluka_spa_chemicals.png?v=1690179422"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>
            <li class="dropdown-item">
                <a href="#">Pool Equipment</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Pool_cleaners.jpg?v=1690179425"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Hide_Skimmer_Lids.jpg?v=1690179427"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Spa Equipment</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/spa_controller.jpg?v=1690179423"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/spa_blower.jpg?v=1690179426"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Above Ground Pool</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Pool_algaecides.jpg?v=1690179421"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Iluka_spa_chemicals.png?v=1690179422"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Accessories</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Pool_algaecides.jpg?v=1690179421"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Iluka_spa_chemicals.png?v=1690179422"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>
            <li class="dropdown-item">
                <a href="#">Spare Parts</a>
                <ul class="mega-dropdown">
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Algaecide</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Clarifier</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Floc</span></a></li>
                        <li class="dropdown-link-item"> <a href="#"><span>Sanitiser</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Stain Remover</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Pool</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Filter Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Spa Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"><span>Sanitiser</span> </a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Balancer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Spa Cleaner</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>PH Buffer</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Aromatherapy</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Chlorine Free Spa</span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span>Pipe Cleaner</span></a></li>
                    </ul>
                    <ul class="dropdown-link-section">
                        <a class="Heading"><span>Pool Chemical</span></a>
                        <li class="dropdown-link-item"><a href="#"> <span> Sanitiser </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Balancer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Spa Cleaner </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> PH Buffer </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Aromatherapy </span></a></li>
                        <li class="dropdown-link-item"><a href="#"> <span> Chlorine Free Spa </span></a></li>
                        <li class="dropdown-link-item"><a href="#"><span> Pipe Cleaner </span></a></li>
                    </ul>
                    <div class="image-part">
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Pool_algaecides.jpg?v=1690179421"
                                alt="Image 2" />
                            <p>Algaecides</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                        <a class="image-wrapper" href="#">
                            <img src="https://www.directpoolsupplies.com.au/cdn/shop/files/Iluka_spa_chemicals.png?v=1690179422"
                                alt="Image 2" />
                            <p>Iluka Spa Chemicals</p>
                            <span class="shop-now">Shop Now</span>
                        </a>
                    </div>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Pool Toys</a>
            </li>
            <li class="dropdown-item">
                <a href="#">Brands</a>
            </li>
        </ul>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dropdownItems = document.querySelectorAll(".dropdown-item");

            dropdownItems.forEach((item) => {
                item.addEventListener("mouseover", function () {
                    showDropdown(item);
                });

                item.addEventListener("mouseout", function () {
                    hideDropdown(item);
                });
            });

            function showDropdown(item) {
                const currentDropdown = item.querySelector(".mega-dropdown");
                currentDropdown.style.display = "block";
            }

            function hideDropdown(item) {
                const currentDropdown = item.querySelector(".mega-dropdown");
                currentDropdown.style.display = "none";
            }

            const imageWrappers = document.querySelectorAll('.image-wrapper');

            imageWrappers.forEach(wrapper => {
                wrapper.addEventListener('mouseover', function () {
                    const shopNow = wrapper.querySelector('.shop-now');
                    if (shopNow) {
                        shopNow.style.opacity = '0.8';
                    }
                });

                wrapper.addEventListener('mouseout', function () {
                    const shopNow = wrapper.querySelector('.shop-now');
                    if (shopNow) {
                        shopNow.style.opacity = '0';
                    }
                });
            });
        });


    </script>


<style>
#{{ sectionID }}  .font-16 {
            font-size: 16px;
        }

  #{{ sectionID }}      .font-10 {
            font-size: 10px;
        }

   #{{ sectionID }}     .navigation-bar {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            color: #fff;
        }

  #{{ sectionID }}      .left-section {
            flex: 1;
        }


     #{{ sectionID }}   .left-section form {
            height: 100%;
            border: none;
            padding-left: 15px;
            border-radius: 35px;
            background: none;
            display: flex;
            line-height: 1em;
            margin: 0;
            position: relative;
            width: 100%;
            align-items: center;
            border-radius: 0;
            background: #fff;
            border-radius: 35px;
            border: 1px solid #808080;
            height: 70px;
        }

     #{{ sectionID }}   input {
            outline: 0;
        }

    #{{ sectionID }}    .aa-Label,
   #{{ sectionID }}     .aa-LoadingIndicator {
            cursor: initial;
            flex-shrink: 0;
            height: 100%;
            padding: 0;
            text-align: left;
        }

     #{{ sectionID }}   button.aa-SubmitButton {
            pointer-events: none;
            cursor: pointer;
            background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>0DBD8774-40E1-4FD9-93CF-8A9C81547816</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"> <g id="Direct-Pool-Supplies---Homepage-v8" transform="translate(-506.000000, -116.000000)" stroke="%23000000" stroke-width="1.42966154"> <g id="Group-6" transform="translate(50.000000, 93.000000)"> <g id="Search-Icon" transform="translate(456.000000, 23.000000)"> <path d="M2.67524624,11.2644928 C2.67524624,16.0082111 6.5210991,19.8539206 11.2649942,19.8539206 C16.0088893,19.8539206 19.85441,16.0085432 19.85441,11.2648249 C19.85441,8.19617717 18.2171309,5.36059809 15.5594753,3.82622285 C12.9018198,2.29184761 9.62748961,2.29178432 6.96989336,3.82605681 C4.31229711,5.3603293 2.67524624,8.19584508 2.67524624,11.2644928 Z" id="Path" transform="translate(11.264828, 11.264659) rotate(-23.025000) translate(-11.264828, -11.264659) "></path> <line x1="17.3381146" y1="17.3375246" x2="24" y2="24" id="Path"></line> </g> </g> </g> </g></svg>');
            background-repeat: no-repeat;
            background-position: center;
            appearance: none;
            background: none;
            border: 0;
            margin: 0;
            height: 100%;
        }

     #{{ sectionID }}   .aa-InputWrapperPrefix {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 44px;
            order: 1;
        }

     #{{ sectionID }}   .aa-InputWrapper {
            order: 3;
            position: relative;
            width: 100%;
        }

      #{{ sectionID }}  input#autocomplete-0-input,
      #{{ sectionID }}  input#autocomplete-0-input::placeholder {
            color: #939393;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 19px;
            padding-left: 15px;
            appearance: none;
            background: none;
            border: 0;
            font: inherit;
            height: 44px;
            padding: 0;
            width: 100%;
        }

     #{{ sectionID }}   .middle-section {
            flex: 1;
            text-align: center;
        }



      #{{ sectionID }}  .right-section {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

     #{{ sectionID }}   .icon {
            margin-left: 20px;
            display: flex;
            align-items: center;
        }

    #{{ sectionID }}    .icon img {
            height: auto;
            width: auto;
            aspect-ratio: auto 34/35;
            margin-right: 5px;
        }

     #{{ sectionID }}   .chat-icon span {

            color: rgb(65, 65, 65);
        }

     #{{ sectionID }}   .cart-count {
            background-color: black;
            color: #fff;
            padding: 3px 6px;
            border-radius: 50%;
            font-size: 12px;
            position: relative;
            right: 15px;
            bottom: 10px;
        }

    #{{ sectionID }} .d-flex {
            display: flex;
        }

     #{{ sectionID }}   a {
            padding: 0;
        }

     #{{ sectionID }}   .mega-menu {
            font-family: 'Montserrat', sans-serif;
        }

   #{{ sectionID }}     #menu-list {
            display: flex;
            justify-content: center;
        }

    #{{ sectionID }}    ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    #{{ sectionID }}    .dropdown-item {
            display: inline-block;
            vertical-align: top;
            position: relative;
            text-align: left;
        }

    #{{ sectionID }}    .dropdown-item>a {
            text-transform: uppercase;
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 17px;
            padding-top: 0;
            display: block;
            position: relative;
        }

      #{{ sectionID }}  .dropdown-item a:hover {
            text-decoration: underline;
        }

   #{{ sectionID }}     a {
            display: block;
            color: black;
            text-decoration: none;
        }

   #{{ sectionID }}     .mega-dropdown {
            position: fixed;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            padding: 20px 44px;
            column-count: 4;
            min-width: auto;
            left: 0;
            right: 0;
            padding-right: calc(25% + 40px);
            column-count: 3;
            min-height: 642px;
            display: none;
            background-color: white;
            box-shadow: 0 1px 4px #00000026;
            box-sizing: border-box;
        }

      #{{ sectionID }}  .link-part,
      #{{ sectionID }}  .image-part {
            float: left;
        }

       #{{ sectionID }} .link-part {
            width: 80%;
        }

       #{{ sectionID }} .link-part ul {
            padding: 20px;
        }

       #{{ sectionID }} .link-part ul li {
            margin-bottom: 10px;
        }

      #{{ sectionID }}  .dropdown-link-section {
            width: 100%;
            padding: 0 20px 0 0;
            display: inline-block;
            vertical-align: top;
            position: relative;
            text-align: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }

      #{{ sectionID }}  .dropdown-link-section a {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            padding: 8px 0;
        }

       #{{ sectionID }} .image-part {
            position: absolute;
            max-width: 25%;
            width: 25%;
            right: 44px;
            top: 15px;
            break-inside: avoid-column;
        }

      #{{ sectionID }}  .image-part .image-wrapper {
            color: #222222;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 27px;
            text-align: center;
            position: relative;
        }

     #{{ sectionID }}   .image-wrapper img {
            width: 100%;
            aspect-ratio: 9/6;
            object-fit: cover;
        }

     #{{ sectionID }}   .image-wrapper p {
            margin: -20px 20px 20px;
            background: #fff;
            z-index: 1;
            position: relative;
            padding: 15px;
            box-shadow: 0 3px 7px #0e1f351f;
        }

     #{{ sectionID }}   .image-wrapper span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255 255 255 / 50%);
            opacity: 0;
            transition: ease all 0.3s;
            text-transform: uppercase;
        }


     #{{ sectionID }}   .dropdown-link-section li {
            position: initial;
            display: flex;
            margin: 0;
            opacity: 1;
            visibility: visible;
            flex-direction: column;
            transform: none;
            animation: none;
            padding: 0;
            box-shadow: none !important;
        }

       #{{ sectionID }} .dropdown-link-item {
            width: 100%;
            padding: 0 20px 0 0;
            display: inline-block;
            vertical-align: top;
            position: relative;
        }

      #{{ sectionID }}  .dropdown-link-item a {
            font-weight: 300;
            padding: 0;
            line-height: 31px;
        }
</style>
 {% schema %}
  {
    "name": "Custom Header ",
    "settings": [
    ],
    "presets": [
      {
        "name": "Custom Header"
      }
    ]
  }

  {% endschema %}