{% liquid 
assign sectionID = 'shopify-section-' | append: section.id 
assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
%}
 {% if section.settings.layout == "slider" %}
 <div id="{{ divID}}" class="custom-announcement-bar announcement-slider">
        <div class="left-section">
            <div class="social-icons">
                <div class="icon-wrapper">
                    <a href="" class="icon-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" class="icon icon-facebook">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>

                    </svg>
                    </a>
                </div>

                <div class="icon-wrapper">
                    <a href="" class="icon-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" class="icon icon-facebook">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                    </svg>
                    </a>

                </div>
                <div class="icon-wrapper">
                    <a href="" class="icon-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" class="icon icon-facebook">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                    </svg>
                    </a>
                </div>
                <div class="icon-wrapper">
                    <a href="" class="icon-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" class="icon icon-facebook">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                    </svg>
                    </a>
                </div>
            </div>

            <div class="phone-number">{{section.settings.phone-icon}}{{section.settings.phone-number}}</div>
        </div>
        <div id="centerSection" class="center-section" data-arrows="{{section.settings.enable_arrow}}">
            {% render 'center-announcement' %} 

        </div>
        <div class="right-section">
            <nav>
                {% for link in section.settings.announcement-links.links %}
                
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                 
                  {% endfor %}
            </nav>
        </div>
</div>
{%  elsif section.settings.layout == "infinite" %} 
    <div>
        <div id="{{ divID }}" class="custom-announcement-bar announcement-slider">
    <figure class="marquee announcement-bar"
    {% assign count = 0 %}
    {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
    {% endfor %}
    data-count="{{count}}">
    {% for block in section.blocks %}
        <p class="announcement-text">
            {{ block.settings.announcement_text }}</p>
    {% endfor %}
    </figure>
</div>
    </div>
    <style>
        .announcement-text {
            width: 100%;
        }
        #{{sectionID}}  .marquee {
  overflow: hidden;
  color: white;
  display: block;

  animation: SlideLeft 2s infinite linear;
}
    @keyframes SlideLeft {
            0% {
                transform: translate3d(0,0,0);
            }

            100% {
                transform: translate3d(-100%,0,0);
            }
        }
#{{sectionID}} .marquee {
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
    border: none;
    flex-wrap: nowrap;
}
#{{sectionID}} .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
    </style>
{% endif %}


<style>
    
    #{{ sectionID }}     .custom-announcement-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:{{section.settings.ann_bg_color}};
        color: {{section.settings.ann_color}};
        padding: {{section.settings.ann_padding_top}}px 50px {{section.settings.ann_padding_bottom}}px;
        font-family: Montserrat, sans-serif;
    }

    #{{ sectionID }}  .left-section {
        display: flex;
        align-items: center;
    }

    #{{ sectionID }}   .left-section * {

        font-weight: 300;
        font-size: 16px;
    }

    #{{ sectionID }}  .social-icons {
        display: flex;
        margin-right: 20px;
    }

    #{{ sectionID }}  .icon-wrapper {
        margin: 0 10px 0 0;
        height: 50px;
        display: inline-flex;
        align-items: center;
    }

    #{{ sectionID }}  .icon-link {
        display: block;
        position: relative;
        width: 100%;
        line-height: 1;
        font-size: 0;
        letter-spacing: 0;
        border-radius: 50%;
        padding: 7px;
        background-color: #fff;
    }

    #{{ sectionID }}   .icon-link:hover {
        background-color: #000;
    }

    #{{ sectionID }}  .icon-link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        top: -7px;
        left: -7px;
        padding: 7px;
        pointer-events: none;
        -webkit-transition: -webkit-transform .2s, opacity .2s;
        -webkit-transform: scale(.8);
        -moz-transition: -moz-transform .2s, opacity .2s;
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        transition: transform .2s, opacity .2s;
        transform: scale(.8);
        opacity: 0;
        box-shadow: 0 0 0 2px #000;
    }

    #{{ sectionID }}  .icon-link:hover::before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    #{{ sectionID }}  .icon-wrapper .icon-link svg {
        fill: #003e82;
        scale: .85;
        width: 18px;
        height: 18px;
    }

    #{{ sectionID }}  .icon-wrapper .icon-link:hover svg {
        fill: #fff;
    }

    #{{ sectionID }}  .phone-number {
        display: flex;
        align-items: center;
    }

 #{{ sectionID }}  .phone-number svg {
    width: 21px;
    margin-right: 10px;
 }
    @media (max-width: 1400px) {

    #{{ sectionID }}   .social-icons {
            display: none;
        }
    }

    #{{ sectionID }}  .center-section {
        width: 33%;
        text-align: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #{{ sectionID }}  .center-section * {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }

    #{{ sectionID }}   .slider {
        position: relative;
        overflow: hidden;
    }

    #{{ sectionID }}   .announcement {
        width: 100%;
        text-align: center;
        
        font-size: {{section.settings.ann_font_size}}px;
        font-style: {{section.settings.ann_font_style}};
        font-weight:{{section.settings.ann_font_weight}};
      
    }

    #{{ sectionID }}  .slider-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #{{ sectionID }}   .prev-arrow,
    #{{ sectionID }}  .next-arrow {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 20%;
    }

    #{{ sectionID }}  .next-arrow {
        right: 0;
    }

    #{{ sectionID }}  .prev-arrow svg,
    #{{ sectionID }}  .next-arrow svg {
        width: 18px;
        height: 18px;
        transform: rotate(0) !important;
        fill: #ffffff;
        color: #ffffff;
    }

    #{{ sectionID }}   .right-section {
        text-align: right;
    }

    #{{ sectionID }}  .right-section nav a:hover {
        color: #000;
        box-sizing: border-box;
        border-bottom: 1px solid #000;
    }

    #{{ sectionID }}  .right-section * {

        font-size: 14px;
        font-weight: 400;
    }

    #{{ sectionID }}  nav a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }
 @media all and (max-width: 768px) {
    #{{ sectionID }}    .right-section, #{{ sectionID }}   .left-section {
        display: none !important;
    }
    .center-section {
        width: 100% !important;
    }
 }
      </style>
 <script>
    let announcement = document.querySelector('.custom-announcement-bar');
    let centerSection = document.getElementById('centerSection').getAttribute('data-arrows');
    let arrows = centerSection === "true";
    console.log(arrows)
    if(announcement) {
        $('.slider').slick({
                infinite: true,
                vertical: false,
                adaptiveHeight: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: false,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: arrows,
                nextArrow: '<div class="next-arrow"><svg viewBox="0 0 478.448 478.448" class="icon icon-chevron-right" id="icon-chevron-right"><g><g><polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>',
                prevArrow: '<div class="prev-arrow"><svg viewBox="0 0 370.814 370.814" class="icon icon-chevron-left" id="icon-chevron-left"><g><g><polygon points="292.92,24.848 268.781,0 77.895,185.401 268.781,370.814 292.92,345.961 127.638,185.401"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>',
            });
    }
   
</script>
  {% schema %}
  {
    "name": "Custom Announcement ",
    "settings": [
        {
            "type": "link_list",
            "id": "announcement-links",
            "label": "Menu"
        },
        {
            "type": "textarea",
            "id": "phone-number",
            "label": "Phone Number"
        },
        {
            "type": "textarea",
            "id": "phone-icon",
            "label": "Phone Icon"
        },
        {
            "type": "select",
            "id": "layout",
            "label":"Layout",
            "options": [
                {
                    "label":"Slider",
                    "value": "slider"
                },
                {
                    "label":"Inifinite Scroll",
                    "value": "infinite"
                }
               
            ]
        },
        {
            "label":"Enable Arrow?",
            "id": "enable_arrow",
            "type": "checkbox"
        },
        {
            "type":"color",
            "id":"ann_color",
            "label":"Color Text"
        },        
        {
            "type":"color",
            "id":"ann_bg_color",
            "label":"Background Color"
        },
        {
        "type": "range",
        "min": 12,
        "max": 64,
        "default": 16,
        "unit": "px",
        "step": 1,
        "id": "ann_font_size",
        "label": "Font size"
      },
      {
            "type": "select",
            "id": "ann_font_style",
            "label":"Font Style",
            "options": [
                {
                    "label":"normal",
                    "value": "Normal"
                },
                {
                    "label":"italic",
                    "value": "Italic"
                },
                {
                    "label":"oblique",
                    "value": "Oblique"
                }
               
            ]
        },
      {
            "type": "select",
            "id": "ann_font_weight",
            "label":"Font Weight",
            "options": [
                {
                    "label":"400",
                    "value": "Regular"
                },
                {
                    "label":"700",
                    "value": "Bold"
                },
                {
                    "label":"900",
                    "value": "Black"
                }
               
            ]
        },
        {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "ann_padding_top",
        "label": "Padding Top"
      },
      {
        "type": "range",
        "min": 0,
        "max": 100,
        "default": 15,
        "unit": "px",
        "step": 5,
        "id": "ann_padding_bottom",
        "label": "Padding Bottom"
      }
    ],     "blocks": [
        {
          "type": "usp_description",
          "name": "Announcement",
          "settings": [
           {
              "type": "text",
              "id": "announcement_text",
              "label": "Announcement Text"
            },
            {
                "type": "textarea",
              "id": "announcement_icon",
              "label": "Announcement Icon"
            },
            {
            "type":"color",
            "id":"ann_color",
            "label":"Color Text"
        },        
        {
            "type":"color",
            "id":"ann_bg_color",
            "label":"Background Color"
        }


          ]
        }
      ],
      "max_blocks": 6,
    "presets": [
      {
        "name": "Custom Announcement"
      }
    ]
  }

  {% endschema %}