{{ 'base-test.css' | asset_url | stylesheet_tag }}
{% liquid
  assign sectionID = 'shopify-section-' | append: section.id
  assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
  assign customClass = section.settings.direct_custom_class
  assign container_width = section.settings.container_width
  assign container_bg_color = section.settings.container_background_color
  assign container_bg_gradient = section.settings.container_background_gradient
  assign container_bg_image = section.settings.container_background_image | img_url: 'master'
  assign container_padding_top_desktop = section.settings.container_padding_top_desktop
  assign container_padding_top_tablet = section.settings.container_padding_top_tablet
  assign container_padding_top_mobile = section.settings.container_padding_top_mobile
  assign placeholder = '//aleksandar-colovic.myshopify.com/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
  assign placeholderV2 = '//cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
  assign container_padding_bottom_desktop = section.settings.container_padding_bottom_desktop
  assign container_padding_bottom_tablet = section.settings.container_padding_bottom_tablet
  assign container_padding_bottom_mobile = section.settings.container_padding_bottom_mobile
  assign usp_description_type = section.settings.usp_description_type
  assign usp_description_title = section.settings.usp_description_title
  assign usp_description_title_color = section.settings.usp_description_title_color
  assign usp_description_title_font_size = section.settings.usp_description_title_font_size
  assign usp_description_title_font_size_mobile = section.settings.usp_description_title_font_size_mobile
  assign usp_description_title_margin_bottom = section.settings.usp_description_title_margin_bottom
  assign usp_description_description = section.settings.usp_description_description
  assign usp_description_description_color = section.settings.usp_description_description_color
  assign usp_description_description_font_size = section.settings.usp_description_description_font_size
  assign usp_description_description_font_size_mobile = section.settings.usp_description_description_font_size_mobile
  assign usp_description_description_margin_bottom = section.settings.usp_description_description_margin_bottom
  assign usp_description_button = section.settings.usp_description_button
  assign usp_description_button_color = section.settings.usp_description_button_color
  assign usp_description_button_background_color = section.settings.usp_description_button_background_color
  assign usp_description_button_font_size = section.settings.usp_description_button_font_size
  assign usp_description_button_spacing_top = section.settings.usp_description_button_spacing_top
  assign usp_description_button_link = section.settings.usp_description_button_link
  assign usp_description_items_per_row = section.settings.usp_description_items_per_row
  assign usp_description_items_gap = section.settings.usp_description_items_gap
  assign usp_description_enable_dots = section.settings.usp_description_enable_dots
  assign usp_description_enable_arrows = section.settings.usp_description_enable_arrows
  assign usp_description_arrows_layout = section.settings.usp_description_arrows_layout
  assign usp_description_arrows_color = section.settings.usp_description_arrows_color
  assign usp_description_arrows_background_color = section.settings.usp_description_arrows_background_color
  assign usp_description_arrows_border_color = section.settings.usp_description_arrows_border_color
  assign usp_description_arrows_hover_color = section.settings.usp_description_arrows_hover_color
  assign usp_description_arrows_hover_background_color = section.settings.usp_description_arrows_hover_background_color
  assign usp_description_arrows_hover_border_color = section.settings.usp_description_arrows_hover_border_color
  assign usp_description_items_per_row_mobile = section.settings.usp_description_items_per_row_mobile
%}

<div class="usp_description-text">
  {% if usp_description_title != blank %}
    <p class="usp_description_title">
      {{ usp_description_title }}
    </p>
  {% endif %}
  {% if usp_description_description != blank %}
    <p class="usp_description_description">
      {{ usp_description_description }}
    </p>
  {% endif %}
</div>
<div id="{{ divID}}" class="{% if customClass != blank %} {{customClass}}  {% endif %} direct-usp_description-section {% if usp_description_type == "slider" %} slider {% endif %}">
  {% assign count = 0 %}
  {% for block in section.blocks %}
    {% assign count = count | plus: 1 %}
  {% endfor %}
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% liquid
        assign directImage = block.settings.direct_image
        assign directProductText = block.settings.direct_product_text
        assign block_spacing_bottom = block.settings.block_spacing_bottom
        assign block_enable_border = block.settings.block_enable_border
        assign block_border_radius = block.settings.block_border_radius
        assign block_border_color = block.settings.block_border_color
        assign block_border_color_hover = block.settings.block_border_color_hover
        assign block_title_font_size = block.settings.block_title_font_size
        assign block_title_font_size_mobile = block.settings.block_title_font_size_mobile
        assign block_title_font_weight = block.settings.block_title_font_weight
        assign block_title_color = block.settings.block_title_color
        assign block_title_color_hover = block.settings.block_title_color_hover
        assign block_description_text = block.settings.block_description_text
        assign block_description_color = block.settings.block_description_color

      %}
      <div
        id="direct-usp_description-item"
        data-arrows="{{usp_description_enable_arrows}}"
        data-dots="{{usp_description_enable_dots}}"
        data-ipr="{{usp_description_items_per_row}}"
        data-ipr-mobile="{{usp_description_items_per_row_mobile}}"
        data-count="{{count}}"
        class="direct-usp_description-item"
        style="
        --block_border_color_hover: {{block_border_color_hover}};
        --block_title_color_hover: {{block_title_color_hover}};
        --block_title_font_size_mobile: {{block_title_font_size_mobile | append: 'px'}};
        width: calc(100% / {{count}});
        {% if block_enable_border == true %}
          {% if block_border_radius != blank %}
            border-radius: {{block_border_radius}}px;
          {% endif %}
          {% if block_border_color != blank %}
            border: 1px solid {{block_border_color}};
          {% endif %}
        {% endif %}
        ">

        <div class="direct-image-container" style="
        margin-bottom: {{block_spacing_bottom}}px;
        ">
          <figure>
            {% render 'snippet-image'
              , image: directImage
              , loadingLazy: 'false'
              , class: 'direct-hero-image' %}
          </figure>
        </div>
        {% if directProductText != blank %}
        <div class="direct-product-name" style="
        font-size: {{block_title_font_size}}px;
        font-weight: {{block_title_font_weight}};
        {% if block_title_color != blank %}
          color: {{block_title_color}};
        {% endif %}
        ">{{ directProductText }}</div>
        {% endif %}
        {% if block_description_text != blank %}
          <div style="color:{{block_description_color}}" class="block_description_text">
            {{block_description_text}}
          </div>
        {% endif %}
      </div>


    {% endfor %}
  {% endif %}
</div>
<div class="usp_description_button_wrapper">
  {% if usp_description_button != blank %}
    <a class="usp_description_button" href="{{usp_description_button_link}}">
      {{ usp_description_button }}</a>
  {% endif %}
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  defer></script>
<script>
    function updateSlider() {
        var slider = document.querySelector('.direct-usp_description-section.slider');
        if (!slider) {
            return;
        }
        var slidesToShow = 6;
        var slidesToScroll = 3;
        var directItem = document.getElementById('direct-usp_description-item');
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var swiperDots = directItem.getAttribute('data-dots');
        if (screenWidth > 991) {
          if (directItem && directItem.hasAttribute('data-ipr') ) {
              slidesToShow = directItem.getAttribute('data-ipr');
            swiperDots=false;
    }

        } else if (screenWidth > 765 && screenWidth <= 991) {
            slidesToShow = 3;
        } else if (screenWidth <= 765) {
            slidesToShow = directItem.getAttribute('data-ipr-mobile');
            slidesToScroll = 2;
        }
        console.log(slidesToShow)
        if ($(slider).hasClass('slick-initialized')) {
            $(slider).slick('unslick');
        }

        $(".slider").not('.slick-initialized').slick({
            infinite: true,
            vertical: false,
            adaptiveHeight: true,
            slidesToShow: slidesToShow,
            slidesToScroll: slidesToScroll,
            dots:Boolean(swiperDots),
            autoplay: true,
            autoplaySpeed: 1000,
            nextArrow: '<div class="next-arrow"><svg viewBox="0 0 478.448 478.448" class="icon icon-chevron-right" id="icon-chevron-right"><g><g><polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>',
            prevArrow: '<div class="prev-arrow"><svg viewBox="0 0 370.814 370.814" class="icon icon-chevron-left" id="icon-chevron-left"><g><g><polygon points="292.92,24.848 268.781,0 77.895,185.401 268.781,370.814 292.92,345.961 127.638,185.401"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>',
        });
    }

    updateSlider();
    window.addEventListener('resize', function() {
        updateSlider();
    });
</script>


<style>
  #{{ sectionID }}
    .shopify-section:has(> .direct-usp_description-section) {
      overflow: hidden;
    }
   #{{ sectionID }}  .direct-usp_description-section {

    display: flex;
    height: 100%;
    max-width: {{ container_width }};
    width:100%;
    {% if container_bg_color != blank and container_bg_gradient == blank and container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
      background: {{ container_bg_color }};
    {% endif %}
    {% if container_bg_gradient != blank and  container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
      background: {{ container_bg_gradient }};
    {% endif %}
    {% if container_bg_image != placeholder and  container_bg_image != placeholderV2 %}
      {% if container_bg_image != blank %}
        background: url('{{container_bg_image}}');
      {% endif %}
    {% endif %}
    {% if container_padding_top_desktop != blank %}
      padding-top: {{ container_padding_top_desktop }}px;
    {% endif %}
    {% if container_padding_bottom_desktop != blank %}
      padding-bottom: {{ container_padding_bottom_desktop }}px;
    {% endif %}
  
  }
     .usp_description_title {
    {% if usp_description_title_color != blank %}
      color: {{usp_description_title_color}};
    {% endif %}
    {% if usp_description_title_font_size != blank %}
      font-size: {{usp_description_title_font_size}}px;
    {% endif %}
    {% if usp_description_title_margin_bottom != blank %}
      margin-bottom: {{usp_description_title_margin_bottom}}px;
    {% endif %}
    width:100%;
    display: flex;
    justify-content: center;
  }
    .usp_description_description {
    {% if usp_description_description_color != blank %}
      color: {{usp_description_title_color}};
    {% endif %}
    {% if usp_description_description_font_size != blank %}
      font-size: {{usp_description_description_font_size}}px;
    {% endif %}
    {% if usp_description_description_margin_bottom != blank %}
      margin-bottom: {{usp_description_description_margin_bottom}}px;
    {% endif %}
    width:100%;
    display: flex;
    justify-content: center;
  }
  #{{ sectionID }} .slick-initialized .slick-slide {
    display: flex;
  }
    #{{ sectionID }} .direct-usp_description-item .direct-image-container figure {
    margin: 0;
    display: flex;
    height: 100%;
  }
    #{{ sectionID }} .direct-usp_description-item .direct-image-container figure > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
    #{{ sectionID }} .direct-usp_description-section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  
  }
   #{{ sectionID }}  .direct-usp_description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 0 calc({{usp_description_items_gap}}px/2);
    {% if section.settings.usp_description_enable_border == true %}
    border-right: 1px solid white;
    {% endif %}
  }
   #{{ sectionID }}  .direct-image-container {
    {% if usp_description_type == "slider" %} 
  
      {% endif %}
      {% if usp_description_type == "grid" %} 
    max-width: 500px;
    width: 100%;
      {% endif %}
  }
  
    #{{ sectionID }} .direct-image-container img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
  }
    #{{ sectionID }} .direct-image-container img:hover {
    filter: grayscale(1);
  }
    #{{ sectionID }} .direct-product-name {
    font-family: 'Montserrat'
    , sans-serif;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
  }
  @media all and (min-width: 992px) {
    .slick-list.draggable {
    width: 100%;
    display: flex;
}

.slick-track {
    width: 100%;
    display: flex;
}

div#direct-usp_description-item {
    flex: 1;
}

.slick-track {
    width: 100% !important;
}
  }
  @media all and (max-width: 992px) {
      #{{ sectionID }} .direct-usp_description-section {
      {% if container_padding_top_tablet != blank %}
          padding-top: {{container_padding_top_tablet}}px;
      {% endif %}
      {% if container_padding_bottom_tablet != blank %}
          padding-bottom: {{container_padding_bottom_tablet}}px;
      {% endif %}
      }
      #{{ sectionID }}   .direct-usp_description-item {
        {% if usp_description_type == "grid" %}
        width: 33.33% !important;
        font-size: 13px;
      {% endif %}
      }
    }
  @media (max-width: 768px) {
    #{{ sectionID }} .direct-usp_description-section {
          {% if container_padding_top_mobile != blank %}
              padding-top: {{container_padding_top_mobile}}px;
          {% endif %}
          {% if container_padding_bottom_mobile != blank %}
              padding-bottom: {{container_padding_bottom_mobile}}px;
          {% endif %}
      }
       .usp_description_title {
        {% if usp_description_title_font_size_mobile != blank %}
          font-size: {{usp_description_title_font_size_mobile}}px;
          {% endif %}
      } .usp_description_description {
        {% if usp_description_description_font_size_mobile != blank %}
          font-size: {{usp_description_description_font_size_mobile}}px;
          {% endif %}
      }
    #{{ sectionID }}   .direct-image-container {
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: center;
    }
    #{{ sectionID }}   .direct-product-name {
      font-size: 13px;
      text-align: center;
    }
    #{{ sectionID }} .direct-usp_description-item .direct-image-container figure > img {
      width: initial !important;
    }
  }
    .usp_description_button_wrapper {
    {% if usp_description_button_spacing_top != blank %}
      margin-top: {{usp_description_button_spacing_top}}px;
    {% endif %}
    display:flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
    .usp_description_button {
  
  text-decoration: none;
    {% if usp_description_button_color != blank %}
      color: {{usp_description_button_color}};
      {% else %}
      color: black;
    {% endif %}
  
    {% if usp_description_button_background_color != blank %}
      background: {{usp_description_button_background_color}};
      padding: 10px 30px;
      border-radius: 3px;
    {% endif %}
  
  
  
    {% if usp_description_button_font_size != blank %}
      font-size: {{usp_description_button_font_size}}px;
    {% endif %}
  }
    .usp_description_button:hover {
    opacity: 0.8;
  }
  
   #{{ sectionID }}  .slick-arrow{

  fill: {{usp_description_arrows_color}};
    width: 30px;
    order: 1;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    {% if usp_description_enable_arrows != true %}
      display: none;
      {% endif %}
      {% if usp_description_arrows_layout == 'style2' %}
        position: absolute;
        top: 25%;
        {% endif %}
  }
   #{{ sectionID }}  .next-arrow {
    {% if usp_description_arrows_layout == 'style2' %}
        right: 10px;
        {% endif %}
  }

   #{{ sectionID }}  .prev-arrow {
    {% if usp_description_arrows_layout == 'style2' %}
        left: 10px;
        {% endif %}
  }


  
   #{{ sectionID }}  .slick-arrow:hover {
    cursor: pointer;
    fill: {{usp_description_arrows_hover_color}}
  }
   #{{ sectionID }}  .slick-arrow::before {
    content:'';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: {{usp_description_arrows_background_color}};
    position: absolute;
    z-index: -1;
    bottom: 0px;
    border: 1px solid {{usp_description_arrows_border_color}}
  }
   #{{ sectionID }}  .slick-arrow:hover::before{
  background-color: {{usp_description_arrows_hover_background_color}};
  {% if block_enable_border == true %}
  border: 1px solid {{usp_description_arrows_hover_border_color}}
  {% endif %}

  }
   #{{ sectionID }}  .prev-arrow::before {
    left: -7px;
  }
   #{{ sectionID }}  .next-arrow::before {
    right: -8px;
  }
   #{{ sectionID }}  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }


        #{{ sectionID }}   #direct-usp_description-item:hover .direct-product-name {
          color: var(--block_title_color_hover) !important;

        }
        @media all and (max-width: 768px) {
          #{{ sectionID }}   .direct-product-name {
            font-size: var(--block_title_font_size_mobile);
          }
        }
  </style>
  {% schema %}
    {
      "name": "Direct  USP & Description",
      "settings": [
        {
          "type": "text",
          "id": "direct_custom_class",
          "label": "Custom Class"
        },
        {
          "type": "select",
          "id": "container_width",
          "label": "Layout:",
          "default": "100%",
          "options": [
            {
              "value": "1170px",
              "label": "Width(1170px)"
            }, {
              "value": "1770px",
              "label": "Width(1770px)"
            }, {
              "value": "100%",
              "label": "Full Width"
            }
          ]
        },
        {
          "type": "color",
          "id": "container_background_color",
          "label": "Background Color"
        },
        {
          "type": "color_background",
          "id": "container_background_gradient",
          "label": "Background Gradient"
        }, {
          "type": "image_picker",
          "id": "container_background_image",
          "label": "Background Image"
        }, {
          "type": "header",
          "content": "Spacing Top"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_top_desktop",
          "label": "Desktop"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_top_tablet",
          "label": "Tablet"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_top_mobile",
          "label": "Mobile"
        }, {
          "type": "header",
          "content": "Spacing Bottom"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_bottom_desktop",
          "label": "Desktop"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_bottom_tablet",
          "label": "Tablet"
        }, {
          "type": "range",
          "min": 0,
          "max": 30,
          "default": 0,
          "unit": "px",
          "step": 1,
          "id": "container_padding_bottom_mobile",
          "label": "Mobile"
        }, 
        {
          "type": "select",
          "id": "usp_description_type",
          "label": "Layout",
          "options": [
          {
              "value": "grid",
              "label": "Grid"
          },
          {
              "value": "slider",
              "label": "Slider"
          }],
          "default": "slider"
      },
      {
          "type": "text",
          "id": "usp_description_title",
          "label": "Section Title"
        }, 
        {
          "type": "color",
          "id": "usp_description_title_color",
          "label": " Title Color"
        },
        {
          "type": "range",
          "id": "usp_description_title_font_size",
          "label": " Title Font Size",
          "default": 18,
          "min":12,
          "max": 60,
          "step": 1,
          "unit": "px"
        },      
        {
          "type": "range",
          "id": "usp_description_title_font_size_mobile",
          "label": " Title Font Size Mobile",
          "default": 18,
          "min":12,
          "max": 60,
          "step": 1,
          "unit": "px" 
        },
        {
          "type": "range",
          "id": "usp_description_title_margin_bottom",
          "label": " Title Margin Bottom",
          "default": 0,
          "min":0,
          "max": 50,
          "step": 1,
          "unit": "px" 
        },
        {
          "type": "textarea",
          "id": "usp_description_description",
          "label": "Section Description"
        }, 
        {
          "type": "color",
          "id": "usp_description_description_color",
          "label": " Description Color"
        },
        {
          "type": "range",
          "id": "usp_description_description_font_size",
          "label": " Description Font Size",
          "default": 18,
          "min":12,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "usp_description_description_font_size_mobile",
          "label": " Description Font Size Mobile",
          "default": 18,
          "min":12,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "usp_description_description_margin_bottom",
          "label": " description Margin Bottom",
          "default": 0,
          "min":0,
          "max": 50,
          "step": 1,
          "unit": "px" 
        },
  
  
        {
          "type": "text",
          "id": "usp_description_button",
          "label": "Section Button"
        }, 
        {
          "type": "color",
          "id": "usp_description_button_color",
          "label": " Button Color"
        },      
        {
          "type": "color",
          "id": "usp_description_button_background_color",
          "label": " Button Background Color"
        },
        {
          "type": "range",
          "id": "usp_description_button_font_size",
          "label": " Button Font Size",
          "default": 18,
          "min":12,
          "max": 60,
          "step": 1,
          "unit": "px"
        },      
  
        {
          "type": "range",
          "id": "usp_description_button_spacing_top",
          "label": " Button Spacing Top",
          "default": 0,
          "min":0,
          "max": 50,
          "step": 1,
          "unit": "px" 
        },
        {
          "type": "text",
          "id": "usp_description_button_link",
          "label": "Button Link",
          "placeholder": "Paste a link or search"
        },
        {
          "type": "range",
          "id": "usp_description_items_gap",
          "label": " Items Gap",
          "default": 0,
          "min":0,
          "max": 50,
          "step": 1,
          "unit": "px" 
        },
        {
          "type": "select",
          "id": "usp_description_items_per_row",
          "label": "Items Per Row",
          "options": [
          {
              "value": "4",
              "label": "4"
          },
          {
              "value": "5",
              "label": "5"
          },
          {
              "value": "6",
              "label": "6"
          },
          {
              "value": "7",
              "label": "7"
          },
          {
              "value": "8",
              "label": "8"
          },
          {
              "value": "9",
              "label": "9"
          }],
          "default": "6"
      },
      {
        "type": "checkbox",
        "id":"usp_description_enable_arrows",
        "label": "Enable Arrows?",
        "default": false
      },
      {
        "type": "checkbox",
        "id":"usp_description_enable_border",
        "label": "Enable Border?",
        "default": false
      },
      {
        "type": "checkbox",
        "id":"usp_description_enable_dots",
        "label": "Enable Dots?",
        "default": true
      },
      {
          "type": "select",
          "id": "usp_description_arrows_layout",
          "label": "Arrows Layout",
          "options": [
          {
              "value": "style1",
              "label": "Style 1"
          },
          {
              "value": "style2",
              "label": "Style 2"
          }],
          "default": "style1"
      },
      {
          "type": "color",
          "id": "usp_description_arrows_color",
          "label": " Arrow Color"
        }, 
        {
          "type": "color",
          "id": "usp_description_arrows_background_color",
          "label": "Arrow Background Color"
        }, 
        {
          "type": "color",
          "id": "usp_description_arrows_border_color",
          "label": "Arrow Border Color"
        }, 
        {
          "type": "color",
          "id": "usp_description_arrows_hover_color",
          "label": "Arrow Hover Color"
        }, 
        {
          "type": "color",
          "id": "usp_description_arrows_hover_background_color",
          "label": "Arrow Hover Background Color"
        }, 
        {
          "type": "color",
          "id": "usp_description_arrows_hover_border_color",
          "label": "Arrow Hover Border Color"
        },
        {
          "type": "select",
          "id": "usp_description_items_per_row_mobile",
          "label": "Items Per Row Mobile",
          "options": [
          {
              "value": "1",
              "label": "1"
          },
          {
              "value": "2",
              "label": "2"
          },
          {
              "value": "3",
              "label": "3"
          }],
          "default": "2"
      }
      ],
      "blocks": [
        {
          "type": "usp_description",
          "name": "USP & Description ITEM",
          "settings": [
           {
              "type": "image_picker",
              "id": "direct_image",
              "label": "Section Image"
            },
            {
              "type": "range",
              "id": "block_spacing_bottom",
              "label": "Image Spacing Bottom",
              "default": 20,
              "min":0,
              "max": 60,
              "step": 1,
              "unit": "px"
        },      
        {
        "type": "checkbox",
        "id":"block_enable_border",
        "label": "Enable Border?",
        "default": false
      },            
      {
              "type": "range",
              "id": "block_border_radius",
              "label": "Border Radius",
              "default": 0,
              "min":0,
              "max": 100,
              "step": 1,
              "unit": "px"
        },
        {
          "type": "color",
          "id": "block_border_color",
          "label": "Border Color"
        }, 
        {
          "type": "color",
          "id": "block_border_color_hover",
          "label": "Border Color Hover"
        }, 
        {
              "type": "text",
              "id": "direct_product_text",
              "label": "Title"
            },
            {
              "type": "range",
              "id": "block_title_font_size",
              "label": "Title Font Size",
              "default": 16,
              "min":12,
              "max": 64,
              "step": 1,
              "unit": "px"
        },
        {
              "type": "range",
              "id": "block_title_font_size_mobile",
              "label": "Title Font Size Mobile",
              "default": 13,
              "min":8,
              "max": 32,
              "step": 1,
              "unit": "px"
        },
        {
          "type": "select",
          "id": "block_title_font_weight",
          "label": "Title Font Weight",
          "options": [
          {
              "value": "400",
              "label": "Default"
          },
          {
              "value": "500",
              "label": "Medium"
          },
          {
              "value": "600",
              "label": "Semi Bold"
          },
          {
              "value": "700",
              "label": "Bold"
          },
          {
              "value": "800",
              "label": "Bolder"
          },
          {
              "value": "900",
              "label": "Black"
          }],
          "default": "400"
      },
      {
          "type": "color",
          "id": "block_title_color",
          "label": "Title Color"
        }, 
        {
          "type": "color",
          "id": "block_title_color_hover",
          "label": "Title Color Hover"
        }, 
        {
          "type": "textarea",
          "id": "block_description_text",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "block_description_color",
          "label": "Description Color"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        }

          ]
        }
      ],
      "max_blocks": 6,
      "presets": [
        {
          "name": "Direct USP & Description"
        }
      ]
    }
  {% endschema %}