{{ 'base-test.css' | asset_url | stylesheet_tag }}
{% liquid 
assign sectionID = 'shopify-section-' | append: section.id 
assign divID = section.id | replace: 'template--', '' | replace: 'shopify-section-', '' | replace: '__', ''
assign customClass = section.settings.direct_custom_class
assign container_width = section.settings.container_width
assign container_bg_color = section.settings.container_background_color
assign container_bg_gradient = section.settings.container_background_gradient
assign container_bg_image = section.settings.container_background_image | img_url: 'master'
assign container_padding_top_desktop = section.settings.container_padding_top_desktop
assign container_padding_top_tablet = section.settings.container_padding_top_tablet
assign container_padding_top_mobile = section.settings.container_padding_top_mobile
assign placeholder = '//aleksandar-colovic.myshopify.com/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
assign placeholderV2 = '//cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'  
assign container_padding_bottom_desktop = section.settings.container_padding_bottom_desktop
assign container_padding_bottom_tablet = section.settings.container_padding_bottom_tablet
assign container_padding_bottom_mobile = section.settings.container_padding_bottom_mobile
%}


<section id="{{ divID}}" class="direct-hero-content_wrapper {% if customClass != blank %} {{customClass}}  {% endif %}">
  {% if section.blocks.size > 0 %}
    <link rel="stylesheet" href="{{ 'component-custom-image-banner-block.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-custom-image-banner-block.css' | asset_url | stylesheet_tag }}</noscript>
    {% for block in section.blocks  %}
      {% liquid
          assign directIntro = block.settings.direct_Intro
          assign directTitle = block.settings.direct_Title
          assign directText = block.settings.direct_Text
          assign directBackgroundColor = block.settings.direct_background_color
          assign directButton1Text = block.settings.direct_hero_btn1_text
          assign directButton1Url = block.settings.direct_hero_btn1_url
          assign directButton2Text = block.settings.direct_hero_btn2_text
          assign directButton2Url = block.settings.direct_hero_btn2_url
          assign placeholder =  '//aleksandar-colovic.myshopify.com/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
          assign placeholderV2 = '//cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'
          assign block_width = block.settings.block_width
          assign block_border_radius = block.settings.block_border_radius
          assign block_spacing_top = block.settings.block_spacing_top
          assign block_spacing_bottom = block.settings.block_spacing_bottom
          assign align_items_v =  block.settings.align_items_v
          assign align_items_h =  block.settings.align_items_h
          assign direct_Intro_color = block.settings.direct_Intro_color
          assign direct_Intro_font_size = block.settings.direct_Intro_font_size
          assign direct_Intro_spacing_bottom = block.settings.direct_Intro_spacing_bottom
          assign direct_Title_color = block.settings.direct_Title_color
          assign direct_Title_font_size = block.settings.direct_Title_font_size
          assign direct_Title_spacing_bottom = block.settings.direct_Title_spacing_bottom
          assign direct_Text_color = block.settings.direct_Text_color
          assign direct_Text_font_size = block.settings.direct_Text_font_size
          assign direct_Text_spacing_bottom = block.settings.direct_Text_spacing_bottom
          
        assign direct_hero_btn1_size = block.settings.direct_hero_btn1_size
        assign direct_hero_btn1_width = block.settings.direct_hero_btn1_width
        assign direct_hero_btn1_color = block.settings.direct_hero_btn1_color
        assign direct_hero_btn1_color_bg = block.settings.direct_hero_btn1_color_bg
        assign direct_hero_btn1_color_hover = block.settings.direct_hero_btn1_color_hover
        assign direct_hero_btn1_color_bg_hover = block.settings.direct_hero_btn1_color_bg_hover

        assign direct_hero_btn2_size = block.settings.direct_hero_btn2_size
        assign direct_hero_btn2_width = block.settings.direct_hero_btn2_width
        assign direct_hero_btn2_color = block.settings.direct_hero_btn2_color
        assign direct_hero_btn2_color_bg = block.settings.direct_hero_btn2_color_bg
        assign direct_hero_btn2_color_hover = block.settings.direct_hero_btn2_color_hover
        assign direct_hero_btn2_color_bg_hover = block.settings.direct_hero_btn2_color_bg_hover
          %}

      {% assign backgroundImage = block.settings.background_image | img_url: 'master' %}
      <div class="direct-hero-block-container" style="
      {% if block_width !=blank %}
        width:{{block_width}};
        {% endif %}
        {% if block_border_radius != 0 %}
        border-radius: {{block_border_radius}}px;
        {% endif %}

      ">
        <div class="direct-hero-text"  style=" 
        {% if directBackgroundColor != blank %}
          background: {{directBackgroundColor}}; 
          {% endif %}
         {% if backgroundImage != placeholder and  backgroundImage != placeholderV2 %}
          {% if backgroundImage != blank %}
          background: url('{{backgroundImage}}');
          {% endif %}

        {% endif %}
        
        {% if block_spacing_top !=blank %}
          padding-top:{{block_spacing_top}}px;
        {% endif %}
        {% if block_spacing_bottom !=blank %}
          padding-bottom:{{block_spacing_bottom}}px;
        {% endif %}
        justify-content: {{align_items_v}};
        align-items: {{align_items_h}};
        " >

    <div class="hero-text-wrapper">
        {% if directIntro != blank  %}
          <p class="table-subheading heroIntro text-center c-title text-white" style=" 
            {% if direct_Intro_color != blank %}
            color: {{direct_Intro_color}};
            {% endif %}

            {% if direct_Intro_font_size != 0 %}
            font-size: {{direct_Intro_font_size}}px;
            {% endif %}
            {% if direct_Intro_spacing_bottom != 0 %}
            padding-bottom: {{direct_Intro_spacing_bottom}}px;
            {% endif %}
            ">
            {{ directIntro }}
          </p>
        {% endif %}
      {% if directTitle != blank %}
        <p class="table-heading heroTitle text-center c-title text-white"
        style=" 
          {% if direct_Title_color != blank %}
          color: {{direct_Title_color}};
          {% endif %}

          {% if direct_Title_font_size != 0 %}
          font-size: {{direct_Title_font_size}}px;
          {% endif %}
          {% if direct_Title_spacing_bottom != 0 %}
          padding-bottom: {{direct_Title_spacing_bottom}}px;
          {% endif %}
          ">
          {{ directTitle }}
        </p>
      {% endif %}
  
      {% if directText != blank %}
        <p class="heroText text-center c-title"
        style=" 
          {% if direct_Text_color != blank %}
          color: {{direct_Text_color}};
          {% endif %}

          {% if direct_Text_font_size != 0 %}
          font-size: {{direct_Text_font_size}}px;
          {% endif %}
          {% if direct_Text_spacing_bottom != 0 %}
          padding-bottom: {{direct_Text_spacing_bottom}}px;
          {% endif %}
          ">
          {{ directText }}
        </p>
      {% endif %}
    </div>
        
        {% if directButton1Text != blank or directButton2Text != blank %}
        <div class="container">
    
          <a href="{{ directButton1Url }}" class="hero-button-primary btn1"
          style="
          font-size: {{direct_hero_btn1_size}}px;
          width: {{direct_hero_btn1_width}}px !important;
          color: {{direct_hero_btn1_color}};
          background-color: {{direct_hero_btn1_color_bg}};
          ">{{ directButton1Text }}</a>
    
          <a href="{{ directButton2Url }}" class="hero-button-primary btn2" style="
          font-size: {{direct_hero_btn2_size}}px;
          width: {{direct_hero_btn2_width}}px !important;
          color: {{direct_hero_btn2_color}};
          background-color: {{direct_hero_btn2_color_bg}};
          ">{{ directButton2Text }}</a>
        </div>
        {% endif %}
        <style>
          .btn1:hover {
            {%if direct_hero_btn1_color_hover != blank %}
            color: {{direct_hero_btn1_color_hover}} !important;
            {% endif %}
            {%if direct_hero_btn1_color_bg_hover != blank %}
            background: {{direct_hero_btn1_color_bg_hover}} !important;
            {% endif %}
          }

          .btn2:hover {
            {%if direct_hero_btn2_color_hover != blank %}
            color: {{direct_hero_btn2_color_hover}} !important;
            {% endif %}
            {%if direct_hero_btn2_color_bg_hover != blank %}
            background: {{direct_hero_btn2_color_bg_hover}} !important;
            {% endif %}
          }
        </style>
      </div>
      </div>
    {% endfor %}
    
  {% endif %}
</section> 
<style>
#{{ sectionID }}  .direct-hero-content_wrapper {
    display: flex;
    min-height: 570px;
    height: 100%;
    width:{{container_width}};
    {% if container_bg_color != blank and container_bg_gradient == blank and container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
    background: {{ container_bg_color }};
  {% endif %}
  {% if container_bg_gradient != blank and  container_bg_image == placeholder or  container_bg_image == placeholderV2 %}
    background: {{ container_bg_gradient }};
  {% endif %}
  {% if container_bg_image != placeholder and  container_bg_image != placeholderV2 %}
    {% if container_bg_image != blank %}
      background: url('{{container_bg_image}}');
    {% endif %}
  {% endif %}
  {% if container_padding_top_desktop != blank %}
    padding-top: {{ container_padding_top_desktop }}px;
  {% endif %}
  {% if container_padding_bottom_desktop != blank %}
    padding-bottom: {{ container_padding_bottom_desktop }}px;
  {% endif %}

  }

  #{{ sectionID }}  .direct-hero-block-container {
    display: flex;
    overflow: hidden;
  }
  #{{ sectionID }} .direct-hero-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    transition: transform 0.5s ease-in-out;
  }
  #{{ sectionID }} .image-only:hover{
    {% if section.settings.zoom_background == true %}
    transform: scale(1.05);
{% endif %}
  }
  #{{ sectionID }} .direct-hero-block-container figure {
    margin: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
  }


  #{{ sectionID }} .heroIntro {
    font-family: 'Montserrat'
    , sans-serif;
    text-transform: uppercase;
    opacity: 0.95;
    padding: 10px
  }
  #{{ sectionID }} .heroTitle {
    font-family: var(--hero-heading-font) !important;
    font-weight: 700;
    padding: 10px 50px;
    line-height: 40px !important;
  }
  #{{ sectionID }} .heroText {
    padding: 0 50px;
    font-weight: 400 !important;
    line-height: 22px;
    font-family: 'Montserrat',sans-serif;
  }
  #{{ sectionID }} .hero-button-primary {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--body-font);
    margin: 5px;
    text-align: center;
    transition: all .5s cubic-bezier(.25,.46,.45,.94);
    transform: translate(0);
  
  }
  #{{ sectionID }} .container {
    display: flex;
  }
  .collection_section_banner {
    min-height: 212px !important;
    gap: 20px;
}

.collection_section_banner  .direct-hero-text {
    background-size: cover !important;
    aspect-ratio: 235/99;
}

.collection_section_banner b {
    background: #ffffffcc;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 10px;
    font-family: Bebas Neue;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
}

.collection_section_banner  p.table-subheading.heroIntro.text-center.c-title.text-white {
    color: #fff;
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 22px !important;
    letter-spacing: 0;
    line-height: 37px;
    text-align: center;
    height: 34px;
    width: 179px;
    background-color: #fd9e4ecc;
    font-weight: 500;
    padding: 0 !important;
}

.collection_section_banner  p.heroText.text-center.c-title {
    margin-top: 5px;
    padding: 0 !important;
    text-align: left;
}
.collection_section_banner > .direct-hero-block-container:last-child p.heroText.text-center.c-title {

   
}
  @media all and (max-width: 1440px) {
    #{{ sectionID }} .container {
      flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } }
  @media all and (max-width: 992px) {
    #{{ sectionID }} .hero-button-primary {
      margin: 10px !important;
    }
#{{ sectionID }}  .direct-hero-content_wrapper {
  {% if container_padding_top_tablet != blank %}
  padding-top: {{container_padding_top_tablet}}px;
{% endif %}
{% if container_padding_bottom_tablet != blank %}
  padding-bottom: {{container_padding_bottom_tablet}}px;
{% endif %}
}
    #{{ sectionID }} .heroTitle {
      font-size: 32px;
    }

  }
  @media all and (max-width: 768px) {

  #{{ sectionID }} .direct-hero-block-container:has(.image-only) {
  display: none;
}

#{{ sectionID }} .direct-hero-block-container {
  flex-basis: 100% !important;
}
    #{{ sectionID }} .container {
      flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    #{{ sectionID }}  .hero-button-primary {
      margin: 10px;
    }
    #{{ sectionID }}  .heroTitle {
      font-size: 28px;
    }
    #{{ sectionID }}  .direct-hero-content_wrapper {
  {% if container_padding_top_mobile != blank %}
  padding-top: {{container_padding_top_mobile}}px;
{% endif %}
{% if container_padding_bottom_mobile != blank %}
  padding-bottom: {{container_padding_bottom_mobile}}px;
{% endif %}
}
    .collection_section_banner {
        flex-wrap: wrap;
      }
    .collection_section_banner .direct-hero-block-container {
      width: 100%;
    }


  }

</style>
{% schema %}
  {
    "name": "Direct  Hero - New",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "direct_custom_class",
        "label": "Custom Class"
      },  
      {
        "type": "select",
        "id": "container_width",
        "label": "Layout:",
        "default": "100%",
        "options": [
            {
                "value": "1170px",
                "label": "Width(1170px)"
            },
            {
                "value": "1770px",
                "label": "Width(1770px)"
            },
            {
                "value": "100%",
                "label": "Full Width"
            }
        ]
    },
    {
        "type": "color",
        "id": "container_background_color",
        "label": "Background Color"
    },  
    {
        "type": "color_background",
        "id": "container_background_gradient",
        "label": "Background Gradient"
    },
    {
        "type": "image_picker",
        "id": "container_background_image",
        "label": "Background Image"
    },
    {
        "type":"header",
        "content": "Spacing Top"
    },  
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_desktop",
        "label": "Desktop"
    },
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_tablet",
        "label": "Tablet"
    },
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_top_mobile",
        "label": "Mobile"
    },
    {
        "type":"header",
        "content": "Spacing Bottom"
    },  
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_desktop",
        "label": "Desktop"
    },
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_tablet",
        "label": "Tablet"
    },
    {
        "type": "range",
        "min":0,
        "max": 30,
        "default": 0,
        "unit": "px",
        "step": 1,
        "id": "container_padding_bottom_mobile",
        "label": "Mobile"
    },
    {
            "type": "checkbox",
            "id": "zoom_background",
            "label": "Zoom Background Image On Hover",
            "default": true
        }
    ],
    "presets": [
      {
        "name": "Direct Hero - New"
      }
    ],
    "blocks": [
     {
       "name": "Large Image",
       "type": "image",
       "settings": [
        {
        "type": "text",
        "id": "block_width",
        "label": "Item Width",
        "default": "33.33%",
        "info": "Example: 50%"

      },
      {
        "type": "range",
        "id": "block_border_radius",
        "label": "Item Border Radius",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"

      },
      {
        "type": "range",
        "id": "block_spacing_top",
        "label": "Item Spacing Top",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"

      },
      {
        "type": "range",
        "id": "block_spacing_bottom",
        "label": "Item Spacing Bottom",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"

      },
        {
        "type": "text",
        "id": "direct_Intro",
        "label": "Hero Intro"
      },
      {
        "type": "color",
        "id": "direct_Intro_color",
        "label": "Hero Intro Color"
      },
      {
        "type": "range",
        "id": "direct_Intro_font_size",
        "label": "Hero Intro Font Size",
        "default": 18,
        "min":12,
        "max": 60,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "direct_Intro_spacing_bottom",
        "label": "Hero Intro Spacing Bottom",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "direct_Title",
        "label": "Hero Title"
      },
      {
        "type": "color",
        "id": "direct_Title_color",
        "label": "Hero Title Color"
      },
      {
        "type": "range",
        "id": "direct_Title_font_size",
        "label": "Hero Title Font Size",
        "default": 18,
        "min":12,
        "max": 60,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "direct_Title_spacing_bottom",
        "label": "Hero Title Spacing Bottom",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "textarea",
        "id": "direct_Text",
        "label": "Section Text"
      }, 
      {
        "type": "color",
        "id": "direct_Text_color",
        "label": "Hero Text Color"
      },
      {
        "type": "range",
        "id": "direct_Text_font_size",
        "label": "Hero Text Font Size",
        "default": 18,
        "min":12,
        "max": 60,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "direct_Text_spacing_bottom",
        "label": "Hero Text Spacing Bottom",
        "default": 0,
        "min":0,
        "max": 30,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "direct_hero_btn1_text",
        "label": "Hero Button 1 Text"
      }, {
        "type": "url",
        "id": "direct_hero_btn1_url",
        "label": "Hero Button 1 URL"
      },
        {
        "type": "range",
        "id": "direct_hero_btn1_size",
        "label": "Hero Button 1 Font Size",
        "min": 16,
        "max":60,
        "default": 16,
        "unit": "px"
      }, 
      {
        "type": "range",
        "id": "direct_hero_btn1_width",
        "label": "Hero Button 1 Width",
        "min": 160,
        "max":500,
        "default": 160,
        "unit": "px",
        "step": 5
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn1_color",
        "label": "Hero Button 1 Text Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn1_color_bg",
        "label": "Hero Button 1 Background Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn1_color_hover",
        "label": "Hero Button 1 Hover Text Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn1_color_bg_hover",
        "label": "Hero Button 1 Hover Background Color"
      }, 

      {
        "type": "text",
        "id": "direct_hero_btn2_text",
        "label": "Hero Button 2 Text"
      }, {
        "type": "url",
        "id": "direct_hero_btn2_url",
        "label": "Hero Button 2 URL"
      },     
       {
        "type": "range",
        "id": "direct_hero_btn2_size",
        "label": "Hero Button 2 Font Size",
        "min": 16,
        "max":60,
        "default": 16,
        "unit": "px"
      }, 
      {
        "type": "range",
        "id": "direct_hero_btn2_width",
        "label": "Hero Button 2 Width",
        "min": 160,
        "max":500,
        "default": 160,
        "unit": "px",
        "step": 5
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn2_color",
        "label": "Hero Button 2 Text Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn2_color_bg",
        "label": "Hero Button 2 Background Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn2_color_hover",
        "label": "Hero Button 2 Hover Text Color"
      }, 
      {
        "type": "color",
        "id": "direct_hero_btn2_color_bg_hover",
        "label": "Hero Button 2 Hover Background Color"
      }, 
      {
            "type": "select",
            "id": "align_items_h",
            "label": "Horizontal Alignment",
            "default": "center",
            "options": [
            {
                "value": "flex-start",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "flex-end",
                "label": "Right"
            }]
        },
      {
            "type": "select",
            "id": "align_items_v",
            "label": "Vertical Alignment",
            "default": "flex-end",
            "options": [
            {
                "value": "flex-start",
                "label": "Top"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "flex-end",
                "label": "Bottom"
            }]
        },
     {
        "type" : "color",
            "id" : "direct_background_color",
            "label": "Background Color"
       
      }
       ]
     }
   ]
  }
{% endschema %}